@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.About-section {
  height: 400px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 159, 183, 0.7)), to(rgba(38, 159, 183, 0.7))), url("https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-image: linear-gradient(rgba(38, 159, 183, 0.7), rgba(38, 159, 183, 0.7)), url("https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;
}

.About-section .About-inner-section {
  width: 85%;
}

.About-section .About-inner-section .header-section {
  height: 130px;
}

.About-section .About-inner-section .header-section .header-logo {
  text-align: center;
  padding-top: 20px;
}

.About-section .About-inner-section .header-section .header-nav .header-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.About-section .About-inner-section .header-section .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.About-section .About-inner-section .header-section .header-nav .header-navlist ul li a {
  font-size: 19px;
  color: #b8b8b8;
}

.About-section .About-inner-section .header-section .header-nav .header-btn a {
  text-decoration: none;
  color: white;
}

.About-section .About-inner-section .header-section .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid white;
  position: relative;
  font-size: 14px;
}

.About-section .About-inner-section .header-section .header-nav .header-btn a .cart-btn::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.About-section .About-inner-section .header-section .header-nav .header-btn .bar {
  display: none;
}

.About-section .About-inner-section .About-title {
  height: 250px;
}

.About-section .About-inner-section .About-title h1 {
  margin-top: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
}

@media (max-width: 768px) {
  .About-section .About-inner-section .header-section .header-nav .header-navlist {
    display: none;
  }
  .About-section .About-inner-section .header-section .header-nav .header-btn .bar {
    display: block;
  }
  .About-section .About-inner-section .About-title h1 {
    font-size: 50px;
  }
}

@media (max-width: 568px) {
  .About-section .About-inner-section .About-title h1 {
    font-size: 30px;
  }
}

.image-section {
  margin-top: 100px;
  height: 100%;
}

.image-section .image-inner-section {
  width: 80%;
  height: 100%;
  padding-bottom: 60px;
}

.image-section .image-inner-section .image-inner-text {
  height: 100%;
}

.image-section .image-inner-section .image-inner-text .image-text {
  padding-right: 60px;
}

.image-section .image-inner-section .image-inner-text .image-text .upper-text p {
  font-family: "Allura", cursive;
  font-size: 30px;
  color: #b8b8b8;
}

.image-section .image-inner-section .image-inner-text .image-text .upper-text h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.image-section .image-inner-section .image-inner-text .image-text .upper-text h5 {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
  line-height: 40px;
}

.image-section .image-inner-section .image-inner-text .image-text .lower-text {
  padding-top: 50px;
}

.image-section .image-inner-section .image-inner-text .image-text .lower-text p {
  font-family: "Allura", cursive;
  font-size: 30px;
  color: #b8b8b8;
}

.image-section .image-inner-section .image-inner-text .image-text .lower-text .list ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
  margin: 6px 0;
}

.image-section .image-inner-section .image-inner-text .image {
  height: 660px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-section .image-inner-section .image-inner-text .image img {
  width: 450px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 450px) {
  .image-section .image-inner-section .image-inner-text .image-text {
    padding-right: 0px !important;
  }
}

@media (max-width: 968px) {
  .image-section {
    margin-top: 50px;
    height: 100%;
  }
  .image-section .image-inner-section {
    width: 90%;
    height: 100%;
    padding-bottom: 20px;
  }
  .image-section .image-inner-section .image-inner-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .image-section .image-inner-section .image-inner-text .image-text {
    padding-right: 20px;
  }
  .image-section .image-inner-section .image-inner-text .image-text .upper-text h5 {
    font-size: 16px;
    line-height: 30px;
  }
  .image-section .image-inner-section .image-inner-text .image {
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .image-section .image-inner-section .image-inner-text .image img {
    height: 600px;
    width: 100%;
  }
}

.banner-section {
  margin-bottom: 50px;
}

.banner-section .banner-inner-section {
  width: 80%;
  height: 500px;
}

.banner-section .banner-inner-section img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 968px) {
  .banner-section {
    margin-bottom: 20px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner-section .banner-inner-section {
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.image-cards-section .image-cards-inner {
  width: 85%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.image-cards-section .image-cards-inner .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-cards-section .image-cards-inner .row .col-md-4 .fas {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7e7e7e;
}

.image-cards-section .image-cards-inner .row .col-md-4 .fas i {
  font-size: 20px;
  color: #7e7e7e;
}

.image-cards-section .image-cards-inner .row .col-md-4 h2 {
  margin: 25px 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.image-cards-section .image-cards-inner .row .col-md-4 p {
  line-height: 30px;
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
}

.image-logo-section .image-logo-inner {
  width: 85%;
  padding: 30px 0;
  padding-bottom: 70px;
}

.image-logo-section .image-logo-inner .logo-cards {
  width: 100%;
}

.footer-section {
  padding: 50px 0;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=about.css.map */