* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font family
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");

//fonts
$font-montserrat: "Montserrat", sans-serif;
$font-cormorant: "Cormorant", serif;
$font-allura: "Allura", cursive;

// About section styles starts here
.About-section {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(rgba(#269fb7, 0.7), rgba(#269fb7, 0.7)),
    url("https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;

  .About-inner-section {
    width: 85%;

    // header-section styles starts here
    .header-section {
      height: 130px;
      .header-logo {
        text-align: center;
        padding-top: 20px;
      }

      .header-nav {
        .header-navlist {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 40px;
          ul {
            font-family: $font-cormorant;
            li {
              a {
                font-size: 19px;
                color: #b8b8b8;
              }
            }
          }
        }

        .header-btn {
          a{
            text-decoration: none;
            color: white;
            .cart-btn{
              height:32px;
              width:30px;
              background: transparent;
              border:2px solid white;
              position: relative;
              font-size:14px;
              &::before{
                content:'';
                position:absolute;
                top:-9px;
                left:29%;
                height: 14px;
                width:12px;
                background: transparent;
                border:2px solid white;
                border-top-left-radius:10px;
                border-top-right-radius:10px;
                border-bottom:none;
              }
            }
          }
          .bar {
            display: none;
          }
        }
      }
    }

    .About-title {
      height: 250px;

      h1 {
        margin-top: 20px;
        font-weight: bold;
        font-family: $font-montserrat;
        font-size: 90px;
      }
    }
  }
}

// header section media queries starts here
@media (max-width: 768px) {
  .About-section {
    .About-inner-section {
      .header-section {
        .header-nav {
          .header-navlist {
            display: none;
          }
          .header-btn {
            .bar {
              display: block;
            }
          }
        }
      }

      .About-title {
        h1 {
          font-size: 50px;
        }
      }
    }
  }
}

@media (max-width: 568px) {
  .About-section {
    .About-inner-section {
      .About-title {
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}
// header section media queries ends here
// header section ends here

// Image section starts here
.image-section {
  margin-top: 100px;
  height: 100%;

  .image-inner-section {
    width: 80%;
    height: 100%;
    padding-bottom: 60px;
    .image-inner-text {
      height: 100%;
      .image-text {
        // padding:0 50px;
        padding-right: 60px;
        .upper-text {
          p {
            font-family: $font-allura;
            font-size: 30px;
            color: #b8b8b8;
          }

          h2 {
            font-size: 20px;
            font-weight: bold;
            font-family: $font-montserrat;
          }

          h5 {
            font-family: $font-cormorant;
            font-size: 19px;
            color: #7e7e7e;
            line-height: 40px;
          }
        }

        .lower-text {
          padding-top: 50px;
          p {
            font-family: $font-allura;
            font-size: 30px;
            color: #b8b8b8;
          }
          .list {
            ul {
              li {
                font-family: $font-cormorant;
                font-size: 19px;
                color: #7e7e7e;
                margin: 6px 0;
              }
            }
          }
        }
      }

      .image {
        height: 660px;
        width: 450px;
        display: flex;
        // justify-content: center;/
        img {
          width: 450px;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// Image section media queries starts here
@media(max-width:450px){
  .image-section {
    .image-inner-section {
      .image-inner-text {
        .image-text {
          // padding:0 50px;
          padding-right: 0px !important;
        }
      }
    }
  }      
}
@media (max-width: 968px) {
  .image-section {
    margin-top: 50px;
    height: 100%;
    .image-inner-section {
      width: 90%;
      height: 100%;
      padding-bottom: 20px;
      .image-inner-text {
        flex-direction: column;
        .image-text {
          padding-right: 20px;
          .upper-text {
            h5 {
              font-size: 16px;
              line-height: 30px;
            }
          }
        }
        .image {
          margin-top: 20px;
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            height: 600px;
            width: 100%;
          }
        }
      }
    }
  }
}
// media queries ends here
// Image section ends here

// Banner section starts here
.banner-section {
  margin-bottom: 50px;
  .banner-inner-section {
    width: 80%;
    height: 500px;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

// Banner media queries starts here
@media (max-width: 968px) {
  .banner-section {
    margin-bottom: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner-inner-section {
      width: 90%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
// Banner media queries ends here
// Banner section ends here

// Image cards section styles starts here
.image-cards-section {
  .image-cards-inner {
    width: 85%;
    padding-top: 50px;
    padding-bottom: 100px;
    .row {
      .col-md-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .fas{
          width:60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border:1px solid #7e7e7e;
          i {
            font-size: 20px;
            color: #7e7e7e;
          }
        }
        h2 {
          margin: 25px 0;
          font-size: 20px;
          font-family: $font-montserrat;
          text-transform: uppercase;
          font-weight: bold;
        }
        p {
          line-height: 30px;
          font-family: $font-cormorant;
          font-size: 19px;
          color: #7e7e7e;
        }
      }
    }
  }
}
// Image cards section styles ends here

// Image logo section styles starts here
.image-logo-section {
  .image-logo-inner {
    width: 85%;
    padding: 30px 0;
    padding-bottom: 70px;
    .logo-cards {
      width: 100%;
    }
  }
}
// Image Logo section styles ends here

// Footer section starts here
.footer-section {
  padding: 50px 0;
  background: #000;
  .footer-inner-section {
    width: 85%;
    margin: auto;
    .row {
      .col-md-4 {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px !important;
          padding-bottom: 20px;
          text-align: left;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-family: $font-cormorant;
          font-size: 19px;
          line-height: 40px;
        }
      }

      .right {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px;
        }
        ul li {
          font-family: $font-cormorant;
          font-size: 19px;
          margin: 15px 0;
        }
      }
    }
  }
}
// Footer section styles ends here

// foorer social icons styles starts here
.footer-socialicons {
  font-family: $font-cormorant;
  .col-md-6 {
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
}
// Footer social icons styles ends here
