@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section {
  height: 130px;
}

.header-section .header-logo {
  text-align: center;
  padding-top: 20px;
}

.header-section .header-nav .header-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.header-section .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.header-section .header-nav .header-navlist ul li a {
  font-size: 19px;
  color: #b8b8b8;
}

.header-section .header-nav .header-btn a {
  text-decoration: none;
  color: black;
}

.header-section .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid black;
  position: relative;
  font-size: 14px;
}

.header-section .header-nav .header-btn a .cart-btn::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.header-section .header-nav .header-btn .bar {
  display: none;
}

@media (max-width: 768px) {
  .header-section .header-nav .header-navlist {
    display: none;
  }
  .header-section .header-nav .header-btn .bar {
    display: block;
  }
}

.cart-section .cart-inner-section {
  padding: 100px 0;
  width: 85%;
}

.cart-section .cart-inner-section h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.cart-section .cart-inner-section .cart-text {
  padding-left: 20px;
  margin-top: 25px;
  border: none;
  border-top: 2px solid #515151;
  padding: 15px 0;
  font-family: "Cormorant", serif;
  font-size: 19px;
  text-transform: capitalize;
  color: #515151;
}

.cart-section .cart-inner-section .cart-text i {
  margin-right: 20px;
}

.cart-section .cart-inner-section button {
  margin-top: 30px;
  width: 250px;
  padding: 10px 10px;
  background: #000;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 19px;
  font-weight: bold;
}

.cart-details-section .cart-details-inner {
  width: 83%;
}

.cart-details-section .cart-details-inner h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.cart-details-section .cart-details-inner .row {
  padding-bottom: 50px;
}

.cart-details-section .cart-details-inner .row .table-one table {
  width: 100%;
}

.cart-details-section .cart-details-inner .row .table-one table tr th {
  padding: 10px 15px;
  font-family: "Cormorant", serif;
  color: black;
  font-weight: lighter;
  font-size: 19px;
}

.cart-details-section .cart-details-inner .row .table-one table tr td {
  padding: 10px 15px;
  font-family: "Cormorant", serif;
  color: black;
  font-size: 19px;
}

.cart-details-section .cart-details-inner .row .table-one table tr td img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart-details-section .cart-details-inner .row .table-one .input-btn {
  margin-top: 20px;
}

.cart-details-section .cart-details-inner .row .table-one .input-btn input {
  width: 50%;
  padding: 7px 5px;
  outline: none;
  border: 1px solid lightgrey;
  font-family: "Cormorant", serif;
  font-size: 17px;
}

.cart-details-section .cart-details-inner .row .table-one .input-btn button {
  width: 50%;
  padding: 8px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  background: #000;
  color: white;
  outline: none;
  border: none;
}

.cart-details-section .cart-details-inner .row .table-two table {
  width: 100%;
}

.cart-details-section .cart-details-inner .row .table-two table tr th {
  padding: 10px 15px;
  font-family: "Cormorant", serif;
  color: black;
  font-weight: lighter;
  font-size: 19px;
}

.cart-details-section .cart-details-inner .row .table-two table tr td {
  padding: 29px 15px;
  font-family: "Cormorant", serif;
  color: black;
  font-size: 19px;
}

.cart-details-section .cart-details-inner .row .table-two table tr td img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart-details-section .cart-details-inner .row .table-two .btn {
  margin-top: 18px;
  padding: 0;
  width: 100%;
}

.cart-details-section .cart-details-inner .row .table-two .btn button {
  width: 40%;
  padding: 9px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  background: #000;
  color: white;
  outline: none;
  border: none;
}

.cart-details-section .cart-details-inner .cart-total-sec {
  width: 100%;
  margin-top: 30px;
}

.cart-details-section .cart-details-inner .cart-total-sec .col .cart-total {
  width: 48%;
}

.cart-details-section .cart-details-inner .cart-total-sec .col .cart-total h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.cart-details-section .cart-details-inner .cart-total-sec .col .cart-total table {
  width: 100% !important;
}

.cart-details-section .cart-details-inner .cart-total-sec .col .cart-total table tr {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.cart-details-section .cart-details-inner .cart-total-sec .col .cart-total table tr th {
  padding: 10px 35px;
  font-weight: lighter;
}

.cart-details-section .cart-details-inner .cart-total-sec .col .cart-total table tr td {
  padding: 10px 35px;
}

.cart-details-section .cart-details-inner .cart-total-sec .col .cart-total .cart-total-btn {
  margin-top: 20px;
  width: 100%;
}

.cart-details-section .cart-details-inner .cart-total-sec .col .cart-total .cart-total-btn button {
  width: 100%;
  padding: 15px 5px;
  background: #000;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
  border: none;
  font-size: 20px;
}

@media (max-width: 768px) {
  input {
    width: 100% !important;
    margin: 20px 0;
  }
  button {
    width: 100% !important;
  }
  .cart-total-sec {
    width: 100% !important;
    margin-left: 0;
  }
  .cart-total-sec .col .cart-total {
    width: 100% !important;
  }
  .cart-total-sec .col .cart-total table {
    width: 100% !important;
    padding: 0 !important;
  }
}

.footer-section {
  padding: 50px 0;
  margin-top: 50px;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=cart.css.map */