* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font family
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");

//fonts
$font-montserrat: "Montserrat", sans-serif;
$font-cormorant: "Cormorant", serif;
$font-allura: "Allura", cursive;

// header-section styles starts here
.header-section {
  height: 130px;
  .header-logo {
    text-align: center;
    padding-top: 20px;
  }

  .header-nav {
    .header-navlist {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      ul {
        font-family: $font-cormorant;
        li {
          a {
            font-size: 19px;
            color: #b8b8b8;
          }
        }
      }
    }

    .header-btn {
      a {
        text-decoration: none;
        color: black;
        .cart-btn{
          height:32px;
          width:30px;
          background: transparent;
          border:2px solid black;
          position: relative;
          font-size:14px;
          &::before{
            content:'';
            position:absolute;
            top:-9px;
            left:29%;
            height: 14px;
            width:12px;
            background: transparent;
            border:2px solid black;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            border-bottom:none;
          }
        }
      }
      .bar {
        display: none;
      }
    }
  }
}

// header section media queries starts here
@media (max-width: 768px) {
  .header-section {
    .header-nav {
      .header-navlist {
        display: none;
      }
      .header-btn {
        .bar {
          display: block;
        }
      }
    }
  }
}
// header media queries ends here
// header section styles ends here

// Checkout section starts here
.checkout-section {
  margin-top: 100px;
  .checkout-inner-section {
    width: 85%;
    z-index: 999;
    position: relative;
    height: 150px;

    h1 {
      font-size: 30px;
      font-family: $font-montserrat;
    }
    .checkout-text {
      padding-left: 20px;
      i {
        margin-right: 20px;
      }
      margin-top: 25px;
      border: none;
      border-top: 2px solid #515151;
      padding: 15px 0;
      font-family: $font-cormorant;
      font-size: 19px;
      text-transform: capitalize;
      color: #515151;

      p {
        cursor: pointer;
      }
    }
  }
}
// checkout media queries ends here
// checkout section ends here

// checkout form section starts here
.checkout-form-section {
  height: 100%;
  .checkout-form-inner {
    height: 100%;
    width: 85%;

    .active {
      height: 30% !important;
      display: block !important;
      transition: all 0.4s ease !important;
    }

    .coupon-input {
      width: 100%;
      height: 0%;
      display: none;
      margin-top: 20px;
      margin-bottom: 50px;
      transition: all 0.4s ease !important;
      p {
        font-family: $font-cormorant;
        font-size: 19px;
        color: #7e7e7e;
      }

      .input-coupon {
        width: 50%;
        margin-top: 30px;
        input {
          width: 100%;
          outline: none;
          border: 1px solid lightgrey;
          padding: 10px 10px;
          font-family: $font-cormorant;
          font-size: 19px;
          text-transform: capitalize;
        }
        button {
          outline: none;
          border: none;
          font-family: $font-montserrat;
          font-size: 19px;
          width: 100%;
          background: #000;
          color: white;
          padding: 10px 5px;
          font-weight: bold;
        }
      }
    }

    // form section styles starts here
    .formm {
      height: 100%;
      padding-bottom: 100px;
      transition: all 0.4s ease !important;
      .form-inner {
        .billing-details {
          margin-top: 20px;
          p {
            font-family: $font-allura;
            font-size: 22px;
          }

          label {
            margin-top: 15px;
            font-family: $font-cormorant;
            font-size: 17px;
            color: #7e7e7e;
            font-weight: bold;
          }

          input {
            padding: 12px 10px;
            outline: none;
            border: 1px solid lightgrey;
            &::placeholder {
              font-family: $font-cormorant;
              font-size: 19px;
            }
          }

          textarea {
            padding: 10px 10px;
            &::placeholder {
              font-family: $font-cormorant;
              font-size: 19px;
            }
          }
        }

        .order-details {
          .order-inner {
            padding: 25px 30px;
            border: 1px solid lightgrey;
            width: 90%;
            margin: auto;

            hr {
              height: 2px;
              color: lightgrey;
            }
            h6 {
              font-weight: lighter;
              font-size: 22px;
              font-family: $font-allura;
            }

            p {
              font-family: $font-cormorant;
              font-size: $font-cormorant;
              font-size: 19px;
            }

            .checkbox {
              margin-top: 20px;
              p {
                color: #7e7e7e;
              }
            }

            button {
              margin-top: 40px;
              width: 100%;
              background: #000;
              color: white;
              outline: none;
              border: none;
              padding: 12px 0;
              cursor: pointer;
            }
          }
        }
      }
    }
    // form section ends here
  }
}
// checkout section ends here

// media queries starts here
@media (max-width: 567px) {
  .formm {
    .form-inner {
      .order-details {
        width: 100%;
        margin-top: 50px;
        .order-inner {
          width: 100% !important;
        }
      }
    }
  }
}
// media queries ends here

// Footer section styles starts here
.footer-section {
  padding: 50px 0;
  margin-top: 50px;
  background: #000;
  .footer-inner-section {
    width: 85%;
    margin: auto;
    .row {
      .col-md-4 {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px !important;
          padding-bottom: 20px;
          text-align: left;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-family: $font-cormorant;
          font-size: 19px;
          line-height: 40px;
        }
      }

      .right {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px;
        }
        ul li {
          font-family: $font-cormorant;
          font-size: 19px;
          margin: 15px 0;
        }
      }
    }
  }
}

// foorer social icons styles starts here
.footer-socialicons {
  font-family: $font-cormorant;
  .col-md-6 {
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
}
// Footer social icons styles ends here
// footer section styles ends here
