@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section {
  height: 130px;
}

.header-section .header-logo {
  text-align: center;
  padding-top: 20px;
}

.header-section .header-nav .header-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.header-section .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.header-section .header-nav .header-navlist ul li a {
  font-size: 19px;
  color: #b8b8b8;
}

.header-section .header-nav .header-btn a {
  text-decoration: none;
  color: black;
}

.header-section .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid black;
  position: relative;
  font-size: 14px;
}

.header-section .header-nav .header-btn a .cart-btn::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.header-section .header-nav .header-btn .bar {
  display: none;
}

@media (max-width: 768px) {
  .header-section .header-nav .header-navlist {
    display: none;
  }
  .header-section .header-nav .header-btn .bar {
    display: block;
  }
}

.checkout-section {
  margin-top: 100px;
}

.checkout-section .checkout-inner-section {
  width: 85%;
  z-index: 999;
  position: relative;
  height: 150px;
}

.checkout-section .checkout-inner-section h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.checkout-section .checkout-inner-section .checkout-text {
  padding-left: 20px;
  margin-top: 25px;
  border: none;
  border-top: 2px solid #515151;
  padding: 15px 0;
  font-family: "Cormorant", serif;
  font-size: 19px;
  text-transform: capitalize;
  color: #515151;
}

.checkout-section .checkout-inner-section .checkout-text i {
  margin-right: 20px;
}

.checkout-section .checkout-inner-section .checkout-text p {
  cursor: pointer;
}

.checkout-form-section {
  height: 100%;
}

.checkout-form-section .checkout-form-inner {
  height: 100%;
  width: 85%;
}

.checkout-form-section .checkout-form-inner .active {
  height: 30% !important;
  display: block !important;
  -webkit-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
}

.checkout-form-section .checkout-form-inner .coupon-input {
  width: 100%;
  height: 0%;
  display: none;
  margin-top: 20px;
  margin-bottom: 50px;
  -webkit-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
}

.checkout-form-section .checkout-form-inner .coupon-input p {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
}

.checkout-form-section .checkout-form-inner .coupon-input .input-coupon {
  width: 50%;
  margin-top: 30px;
}

.checkout-form-section .checkout-form-inner .coupon-input .input-coupon input {
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  padding: 10px 10px;
  font-family: "Cormorant", serif;
  font-size: 19px;
  text-transform: capitalize;
}

.checkout-form-section .checkout-form-inner .coupon-input .input-coupon button {
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  width: 100%;
  background: #000;
  color: white;
  padding: 10px 5px;
  font-weight: bold;
}

.checkout-form-section .checkout-form-inner .formm {
  height: 100%;
  padding-bottom: 100px;
  -webkit-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details {
  margin-top: 20px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details p {
  font-family: "Allura", cursive;
  font-size: 22px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details label {
  margin-top: 15px;
  font-family: "Cormorant", serif;
  font-size: 17px;
  color: #7e7e7e;
  font-weight: bold;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details input {
  padding: 12px 10px;
  outline: none;
  border: 1px solid lightgrey;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details input::-webkit-input-placeholder {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details input:-ms-input-placeholder {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details input::-ms-input-placeholder {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details input::placeholder {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details textarea {
  padding: 10px 10px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details textarea::-webkit-input-placeholder {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details textarea:-ms-input-placeholder {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details textarea::-ms-input-placeholder {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .billing-details textarea::placeholder {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .order-details .order-inner {
  padding: 25px 30px;
  border: 1px solid lightgrey;
  width: 90%;
  margin: auto;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .order-details .order-inner hr {
  height: 2px;
  color: lightgrey;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .order-details .order-inner h6 {
  font-weight: lighter;
  font-size: 22px;
  font-family: "Allura", cursive;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .order-details .order-inner p {
  font-family: "Cormorant", serif;
  font-size: "Cormorant", serif;
  font-size: 19px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .order-details .order-inner .checkbox {
  margin-top: 20px;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .order-details .order-inner .checkbox p {
  color: #7e7e7e;
}

.checkout-form-section .checkout-form-inner .formm .form-inner .order-details .order-inner button {
  margin-top: 40px;
  width: 100%;
  background: #000;
  color: white;
  outline: none;
  border: none;
  padding: 12px 0;
  cursor: pointer;
}

@media (max-width: 567px) {
  .formm .form-inner .order-details {
    width: 100%;
    margin-top: 50px;
  }
  .formm .form-inner .order-details .order-inner {
    width: 100% !important;
  }
}

.footer-section {
  padding: 50px 0;
  margin-top: 50px;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=checkout.css.map */