* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font family
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");

//fonts
$font-montserrat: "Montserrat", sans-serif;
$font-cormorant: "Cormorant", serif;
$font-allura: "Allura", cursive;

// Contact section styles starts here
.Contact-section {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(rgba(#269fb7, 0.7), rgba(#269fb7, 0.7)),
    url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-10-free-img.jpg");
  background-repeat: no-repeat;
  background-position: center;

  .Contact-inner-section {
    width: 85%;
    // header-section styles starts here
    .header-section {
      height: 130px;
      .header-logo {
        text-align: center;
        padding-top: 20px;
      }

      .header-nav {
        .header-navlist {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 40px;
          ul {
            font-family: $font-cormorant;
            li {
              a {
                font-size: 19px;
                color: #b8b8b8;
              }
            }
          }
        }

        .header-btn {
          a {
            color: white;
            text-decoration: none;
            .cart-btn {
              height: 32px;
              width: 30px;
              background: transparent;
              border: 2px solid white;
              position: relative;
              font-size: 14px;
              &::before {
                content: "";
                position: absolute;
                top: -9px;
                left: 29%;
                height: 14px;
                width: 12px;
                background: transparent;
                border: 2px solid white;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom: none;
              }
            }
          }
          .bar {
            display: none;
          }
        }
      }
    }

    .Contact-title {
      height: 250px;

      h1 {
        margin-top: 20px;
        font-weight: bold;
        font-family: $font-montserrat;
        font-size: 90px;
      }
    }
  }
}

// header section media queries starts here
@media (max-width: 768px) {
  .Contact-section {
    .Contact-inner-section {
      .header-section {
        .header-nav {
          .header-navlist {
            display: none;
          }
          .header-btn {
            .bar {
              display: block;
            }
          }
        }
      }

      .Contact-title {
        h1 {
          font-size: 50px;
        }
      }
    }
  }
}

@media (max-width: 568px) {
  .Contact-section {
    .Contact-inner-section {
      .Contact-title {
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}
// header section media queries ends here
// header section ends here

// contact section styles starts here
.contact-section {
  height: 100vh !important;
  width: 100%;
  background-image: url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-10-free-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  .contact-inner-section {
    z-index: 999;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
    width: 60%;
    height: 100vh;
    margin: auto;
    background: #fff;
    box-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.5);

    .title {
      text-align: center;
      padding: 50px;
      p {
        font-size: 30px;
        font-family: $font-allura;
      }
      h1 {
        font-size: 40px;
        font-family: $font-montserrat;
        text-transform: uppercase;
      }
    }
    .form {
      width: 80%;
      height: 100%;
      // background: #000;
      margin: auto;
      .form-text {
        width: 100%;
        margin: 0 auto;
        label {
          color: #7e7e7e;
          font-size: 19px;
          font-family: $font-cormorant;
        }
        .name {
          width: 100%;
          margin: auto;
          input {
            width: 100%;
            padding: 12px 20px;

            border: 1px solid lightgrey;
          }
        }
      }

      .email {
        width: 100%;
        margin-top: 30px;
        label {
          color: #7e7e7e;
          font-size: 19px;
          font-family: $font-cormorant;
        }
        .email-input {
          width: 100%;
          input {
            width: 100%;
            margin: auto;
            padding: 12px 0;
            border: 1px solid lightgrey;
          }
        }
      }

      .textarea {
        width: 100%;
        margin-top: 30px;
        label {
          color: #7e7e7e;
          font-size: 19px;
          font-family: $font-cormorant;
        }
        .text {
          width: 100%;
          textarea {
            border: 1px solid lightgrey;
            width: 100%;
          }
        }
      }

      .btn {
        width: 100%;
        margin-top: 20px;
        padding: 0;
        display: flex;
        justify-content: start;
        button {
          width: 120px;
          padding: 10px 5px;
          background: #000;
          color: white;
          outline: none;
          border: none;
          font-size: 12px;
          letter-spacing: 1px;
          font-weight: bold;
          font-family: $font-montserrat;
        }
      }
    }
  }
}

// contact media queries starts here
@media (max-width: 768px) {
  .contact-section {
    .contact-inner-section {
      width: 90%;
    }
  }
}

@media (max-width: 400px) {
  .contact-section {
    .contact-inner-section {
      width: 90%;
      height: 120vh;
    }
  }

  .contact-details {
    padding-top: 15rem;
  }

  .icon {
    width: 100% !important;
  }

  .footer-section {
    margin-top: 12rem;
  }
}

@media (max-width: 322px) {
  .contact-section {
    .contact-inner-section {
      width: 90%;
      height: 125vh;
    }
  }

  .contact-details {
    padding-top: 17rem;
  }

  .icon {
    width: 100% !important;
  }

  .footer-section {
    margin-top: 12rem;
  }
}
// contact media queries ends here
// contact section styles ends here

// contact details styles starts here s
.contact-details {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-03-free-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  // filter: grayscale(100%);
  .contact-details-inner {
    padding-top: 50px;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    .row {
      .col-md {
        color: black;
        .textt {
          p {
            margin-top: 50px;
            font-family: $font-cormorant;
            font-size: 19px;
            color: #7e7e7e;
          }

          .social-icons {
            margin-top: 100px;
            p {
              font-family: $font-allura;
              font-size: 30px;
            }

            i {
              color: #7e7e7e;
            }
          }
        }
      }

      .icons {
        .icon {
          ul {
            li {
              margin: 20px 0;
              font-family: $font-cormorant;
              font-size: 19px;
              color: #7e7e7e;
            }
          }
        }
      }
    }
  }
}

// contact details media queries starts here
@media (max-width: 768px) {
  .contact-details {
    .contact-details-inner {
      width: 90%;
    }
  }
}
// contact details media queries ends here
// contact details styles ends here

// Footer section starts here
.footer-section {
  padding: 50px 0;
  background: #000;
  .footer-inner-section {
    width: 85%;
    margin: auto;
    .row {
      .col-md-4 {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px !important;
          padding-bottom: 20px;
          text-align: left;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-family: $font-cormorant;
          font-size: 19px;
          line-height: 40px;
        }
      }

      .right {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px;
        }
        ul li {
          font-family: $font-cormorant;
          font-size: 19px;
          margin: 15px 0;
        }
      }
    }
  }
}
// Footer section styles ends here

// foorer social icons styles starts here
.footer-socialicons {
  font-family: $font-cormorant;
  .col-md-6 {
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
}
// Footer social icons styles ends here
