@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Contact-section {
  height: 400px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 159, 183, 0.7)), to(rgba(38, 159, 183, 0.7))), url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-10-free-img.jpg");
  background-image: linear-gradient(rgba(38, 159, 183, 0.7), rgba(38, 159, 183, 0.7)), url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-10-free-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.Contact-section .Contact-inner-section {
  width: 85%;
}

.Contact-section .Contact-inner-section .header-section {
  height: 130px;
}

.Contact-section .Contact-inner-section .header-section .header-logo {
  text-align: center;
  padding-top: 20px;
}

.Contact-section .Contact-inner-section .header-section .header-nav .header-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.Contact-section .Contact-inner-section .header-section .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.Contact-section .Contact-inner-section .header-section .header-nav .header-navlist ul li a {
  font-size: 19px;
  color: #b8b8b8;
}

.Contact-section .Contact-inner-section .header-section .header-nav .header-btn a {
  color: white;
  text-decoration: none;
}

.Contact-section .Contact-inner-section .header-section .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid white;
  position: relative;
  font-size: 14px;
}

.Contact-section .Contact-inner-section .header-section .header-nav .header-btn a .cart-btn::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.Contact-section .Contact-inner-section .header-section .header-nav .header-btn .bar {
  display: none;
}

.Contact-section .Contact-inner-section .Contact-title {
  height: 250px;
}

.Contact-section .Contact-inner-section .Contact-title h1 {
  margin-top: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
}

@media (max-width: 768px) {
  .Contact-section .Contact-inner-section .header-section .header-nav .header-navlist {
    display: none;
  }
  .Contact-section .Contact-inner-section .header-section .header-nav .header-btn .bar {
    display: block;
  }
  .Contact-section .Contact-inner-section .Contact-title h1 {
    font-size: 50px;
  }
}

@media (max-width: 568px) {
  .Contact-section .Contact-inner-section .Contact-title h1 {
    font-size: 30px;
  }
}

.contact-section {
  height: 100vh !important;
  width: 100%;
  background-image: url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-10-free-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.contact-section .contact-inner-section {
  z-index: 999;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 50px;
  width: 60%;
  height: 100vh;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.5);
}

.contact-section .contact-inner-section .title {
  text-align: center;
  padding: 50px;
}

.contact-section .contact-inner-section .title p {
  font-size: 30px;
  font-family: "Allura", cursive;
}

.contact-section .contact-inner-section .title h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.contact-section .contact-inner-section .form {
  width: 80%;
  height: 100%;
  margin: auto;
}

.contact-section .contact-inner-section .form .form-text {
  width: 100%;
  margin: 0 auto;
}

.contact-section .contact-inner-section .form .form-text label {
  color: #7e7e7e;
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.contact-section .contact-inner-section .form .form-text .name {
  width: 100%;
  margin: auto;
}

.contact-section .contact-inner-section .form .form-text .name input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid lightgrey;
}

.contact-section .contact-inner-section .form .email {
  width: 100%;
  margin-top: 30px;
}

.contact-section .contact-inner-section .form .email label {
  color: #7e7e7e;
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.contact-section .contact-inner-section .form .email .email-input {
  width: 100%;
}

.contact-section .contact-inner-section .form .email .email-input input {
  width: 100%;
  margin: auto;
  padding: 12px 0;
  border: 1px solid lightgrey;
}

.contact-section .contact-inner-section .form .textarea {
  width: 100%;
  margin-top: 30px;
}

.contact-section .contact-inner-section .form .textarea label {
  color: #7e7e7e;
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.contact-section .contact-inner-section .form .textarea .text {
  width: 100%;
}

.contact-section .contact-inner-section .form .textarea .text textarea {
  border: 1px solid lightgrey;
  width: 100%;
}

.contact-section .contact-inner-section .form .btn {
  width: 100%;
  margin-top: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact-section .contact-inner-section .form .btn button {
  width: 120px;
  padding: 10px 5px;
  background: #000;
  color: white;
  outline: none;
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .contact-section .contact-inner-section {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .contact-section .contact-inner-section {
    width: 90%;
    height: 120vh;
  }
  .contact-details {
    padding-top: 15rem;
  }
  .icon {
    width: 100% !important;
  }
  .footer-section {
    margin-top: 12rem;
  }
}

@media (max-width: 322px) {
  .contact-section .contact-inner-section {
    width: 90%;
    height: 125vh;
  }
  .contact-details {
    padding-top: 17rem;
  }
  .icon {
    width: 100% !important;
  }
  .footer-section {
    margin-top: 12rem;
  }
}

.contact-details {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-03-free-img.png");
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-03-free-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.contact-details .contact-details-inner {
  padding-top: 50px;
  height: 100%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-details .contact-details-inner .row .col-md {
  color: black;
}

.contact-details .contact-details-inner .row .col-md .textt p {
  margin-top: 50px;
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
}

.contact-details .contact-details-inner .row .col-md .textt .social-icons {
  margin-top: 100px;
}

.contact-details .contact-details-inner .row .col-md .textt .social-icons p {
  font-family: "Allura", cursive;
  font-size: 30px;
}

.contact-details .contact-details-inner .row .col-md .textt .social-icons i {
  color: #7e7e7e;
}

.contact-details .contact-details-inner .row .icons .icon ul li {
  margin: 20px 0;
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
}

@media (max-width: 768px) {
  .contact-details .contact-details-inner {
    width: 90%;
  }
}

.footer-section {
  padding: 50px 0;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=contact.css.map */