@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section {
  height: 130px;
}

.header-section .header-logo {
  text-align: center;
  padding-top: 20px;
}

.header-section .header-nav .header-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.header-section .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.header-section .header-nav .header-navlist ul li a {
  font-size: 19px;
  color: #b8b8b8;
}

.header-section .header-nav .header-btn a {
  text-decoration: none;
  color: black;
}

.header-section .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid black;
  position: relative;
  font-size: 14px;
}

.header-section .header-nav .header-btn a .cart-btn::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.header-section .header-nav .header-btn .bar {
  display: none;
}

@media (max-width: 768px) {
  .header-section .header-nav .header-navlist {
    display: none;
  }
  .header-section .header-nav .header-btn .bar {
    display: block;
  }
}

.dashboard-section {
  margin-top: 100px;
}

.dashboard-section .dashboard-inner-section {
  width: 80%;
}

.dashboard-section .dashboard-inner-section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  margin-left: -10px;
  line-height: 0;
}

.dashboard-section .dashboard-inner-section .row .navigation button {
  margin: 0;
  width: 100%;
  padding: 12px 10px;
  text-align: left;
  font-size: 19px;
  outline: none;
  border: 1px solid lightgrey;
  font-family: "Cormorant", serif;
  background: #fff;
  color: #737373;
  cursor: pointer;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .dash-text p {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #737373;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .dash-text p span {
  color: black;
  font-weight: bold;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .dash-text h6 {
  margin-top: 20px;
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #737373;
  line-height: 35px;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .dash-text h6 span {
  color: #269fb7;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .dash-text h6 span:hover {
  color: black;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .order-text .order-inner {
  border: none;
  border-top: 3px solid black;
  padding: 20px 10px;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .order-text .order-inner p {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #515151;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .order-text .order-inner button {
  width: auto;
  padding: 12px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  background: #000;
  color: white;
  letter-spacing: 1px;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .download-text .download-inner {
  border: none;
  border-top: 3px solid black;
  padding: 20px 10px;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .download-text .download-inner p {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #515151;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .download-text .download-inner button {
  width: auto;
  padding: 12px 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  background: #000;
  color: white;
  letter-spacing: 1px;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .address-text p {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #737373;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .address-text .address-inner {
  margin-top: 50px;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .address-text .address-inner .bil-add {
  border: 1px solid lightgrey;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .address-text .address-inner .bil-add p {
  font-family: "Allura", cursive;
  font-size: 22px;
  color: black;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .address-text .address-inner .bil-add a {
  color: #269fb7;
  text-transform: capitalize;
  font-size: 19px;
  text-decoration: none;
  font-family: "Cormorant", serif;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .address-text .address-inner .bil-add h6 {
  font-family: "Cormorant", serif;
  font-size: 19px;
  font-weight: lighter;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .address-text .address-inner .ship-add {
  border: 1px solid lightgrey;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .address-text .address-inner .ship-add p {
  font-family: "Allura", cursive;
  font-size: 22px;
  color: black;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .address-text .address-inner .ship-add a {
  color: #269fb7;
  text-transform: capitalize;
  font-size: 19px;
  text-decoration: none;
  font-family: "Cormorant", serif;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .address-text .address-inner .ship-add h6 {
  font-family: "Cormorant", serif;
  font-size: 19px;
  font-weight: lighter;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .account-text .row .col label {
  font-family: "Cormorant", serif;
  font-size: 17px;
  color: #737373;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .account-text .row .col input {
  padding: 12px 5px;
  outline: none;
  border: 1px solid lightgrey;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .account-text p {
  font-family: "Cormorant", serif;
  font-size: 19px;
  font-style: italic;
  color: #737373;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .account-text label {
  font-family: "Cormorant", serif;
  font-size: 17px;
  color: black;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .account-text input {
  padding: 12px 5px;
  outline: none;
  border: 1px solid lightgrey;
}

.dashboard-section .dashboard-inner-section .row .navigation-data .account-text button {
  width: 200px;
  padding: 10px 15px;
  outline: none;
  border: none;
  cursor: pointer;
  background: #000;
  color: white;
  letter-spacing: 1px;
  font-size: 19px;
  font-weight: bold;
}

.footer-section {
  margin-top: 100px;
  padding: 50px 0;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=dashboard.css.map */