* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font family
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");

//fonts
$font-montserrat: "Montserrat", sans-serif;
$font-cormorant: "Cormorant", serif;
$font-allura: "Allura", cursive;

// header-section styles starts here
.header-section {
  height: 130px;
  .header-logo {
    text-align: center;
    padding-top: 20px;
  }

  .header-nav {
    .header-navlist {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      ul {
        font-family: $font-cormorant;
        li {
          a {
            font-size: 19px;
            color: #b8b8b8;
          }
        }
      }
    }

    .header-btn {
      a {
        text-decoration: none;
        color: black;
        .cart-btn{
          height:32px;
          width:30px;
          background: transparent;
          border:2px solid black;
          position: relative;
          font-size:14px;
          &::before{
            content:'';
            position:absolute;
            top:-9px;
            left:29%;
            height: 14px;
            width:12px;
            background: transparent;
            border:2px solid black;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            border-bottom:none;
          }
        }
      }
      .bar {
        display: none;
      }
    }
  }
}

// header section media queries starts here
@media (max-width: 768px) {
  .header-section {
    .header-nav {
      .header-navlist {
        display: none;
      }
      .header-btn {
        .bar {
          display: block;
        }
      }
    }
  }
}
// header section media queries ends here
// header section ends here

//   dashboard section styles starts here
.dashboard-section {
  margin-top: 100px;
  .dashboard-inner-section {
    width: 80%;
    h1{
      font-family: $font-montserrat;
      font-size: 30px;
      margin-bottom: 50px;
      margin-left:-10px;
      line-height: 0;
    }
    .row {
      // Navigation buttons styles stats here
      .navigation {
        button {
          margin: 0;
          width:100%;
          padding: 12px 10px;
          text-align: left;
          font-size: 19px;
          outline: none;
          border: 1px solid lightgrey;
          font-family: $font-cormorant;
          background: #fff;
          color: #737373;
          cursor: pointer;
        }
      }
      // Navigation button styles ends here

      // Navigation data styles starts here
      .navigation-data {
        // dashboard text styles starts here
        .dash-text {
          p {
            font-family: $font-cormorant;
            font-size: 19px;
            color: #737373;
            span {
              color: black;
              font-weight: bold;
            }
          }

          h6 {
            margin-top: 20px;
            font-family: $font-cormorant;
            font-size: 19px;
            color: #737373;
            line-height: 35px;
            span {
              color: #269fb7;
              transition: all 0.4s ease;
              cursor: pointer;
              &:hover {
                color: black;
              }
            }
          }
        }
        // dashboard text styles ends here

        // Order text styles starts here
        .order-text {
          .order-inner {
            border: none;
            border-top: 3px solid black;
            padding: 20px 10px;

            p {
              font-family: $font-cormorant;
              font-size: 19px;
              color: #515151;
            }

            button {
              width: auto;
              padding: 12px 25px;
              font-family: $font-montserrat;
              font-weight: bold;
              border: none;
              cursor: pointer;
              outline: none;
              background: #000;
              color: white;
              letter-spacing: 1px;
            }
          }
        }
        // order text styles ends here

        // download text styles starts here
        .download-text {
          .download-inner {
            border: none;
            border-top: 3px solid black;
            padding: 20px 10px;

            p {
              font-family: $font-cormorant;
              font-size: 19px;
              color: #515151;
            }

            button {
              width: auto;
              padding: 12px 25px;
              font-family: $font-montserrat;
              font-weight: bold;
              border: none;
              cursor: pointer;
              outline: none;
              background: #000;
              color: white;
              letter-spacing: 1px;
            }
          }
        }
        // download text styles ends here

        // address text styles starts here
        .address-text {
          p {
            font-family: $font-cormorant;
            font-size: 19px;
            color: #737373;
          }

          .address-inner {
            margin-top: 50px;

            // bil add text starts here
            .bil-add {
              border: 1px solid lightgrey;
              p {
                font-family: $font-allura;
                font-size: 22px;
                color: black;
              }

              a {
                color: #269fb7;
                text-transform: capitalize;
                font-size: 19px;
                text-decoration: none;
                font-family: $font-cormorant;
              }

              h6 {
                font-family: $font-cormorant;
                font-size: 19px;
                font-weight: lighter;
              }
            }
            // add text styles ends here

            // ship text styles starts here
            .ship-add {
              border: 1px solid lightgrey;
              p {
                font-family: $font-allura;
                font-size: 22px;
                color: black;
              }

              a {
                color: #269fb7;
                text-transform: capitalize;
                font-size: 19px;
                text-decoration: none;
                font-family: $font-cormorant;
              }

              h6 {
                font-family: $font-cormorant;
                font-size: 19px;
                font-weight: lighter;
              }
            }
            // ship text styles ends here
          }
        }
        // address text styles ends here

        // account text styles starts here
        .account-text {
          .row {
            .col {
              label {
                font-family: $font-cormorant;
                font-size: 17px;
                color: #737373;
              }

              input {
                padding: 12px 5px;
                outline: none;
                border: 1px solid lightgrey;
              }
            }
          }

          p {
            font-family: $font-cormorant;
            font-size: 19px;
            font-style: italic;
            color: #737373;
          }

          label {
            font-family: $font-cormorant;
            font-size: 17px;
            color: black;
          }

          input {
            padding: 12px 5px;
            outline: none;
            border: 1px solid lightgrey;
          }

          button {
            width: 200px;
            padding: 10px 15px;
            outline: none;
            border: none;
            cursor: pointer;
            background: #000;
            color: white;
            letter-spacing: 1px;
            font-size: 19px;
            font-weight: bold;
          }
        }
        // account text styles ends here
      }
      // Navigation data styles ends here
    }
  }
}
// dashboard section styles ends here

// Footer section starts here
.footer-section {
  margin-top: 100px;
  padding: 50px 0;
  background: #000;
  .footer-inner-section {
    width: 85%;
    margin: auto;
    .row {
      .col-md-4 {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px !important;
          padding-bottom: 20px;
          text-align: left;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-family: $font-cormorant;
          font-size: 19px;
          line-height: 40px;
        }
      }

      .right {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px;
        }
        ul li {
          font-family: $font-cormorant;
          font-size: 19px;
          margin: 15px 0;
        }
      }
    }
  }
}

// Footer section styles ends here

// foorer social icons styles starts here
.footer-socialicons {
  font-family: $font-cormorant;
  .col-md-6 {
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
}
// Footer social icons styles ends here
