@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section {
  height: 130px;
}

.header-section .header-logo {
  text-align: center;
  padding-top: 20px;
}

.header-section .header-nav .header-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.header-section .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.header-section .header-nav .header-navlist ul li a {
  font-size: 19px;
  color: #b8b8b8;
}

.header-section .header-nav .header-btn a {
  text-decoration: none;
  color: black;
}

.header-section .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid black;
  position: relative;
  font-size: 14px;
}

.header-section .header-nav .header-btn a .cart-btn::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.header-section .header-nav .header-btn .bar {
  display: none;
}

@media (max-width: 768px) {
  .header-section .header-nav .header-navlist {
    display: none;
  }
  .header-section .header-nav .header-btn .bar {
    display: block;
  }
}

.account-section {
  margin-top: 100px;
}

.account-section .account-inner-section {
  width: 85%;
}

.account-section .account-inner-section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.account-section .account-inner-section .row .login h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.account-section .account-inner-section .row .login .login-inner {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 20px 20px;
  margin-top: 20px;
}

.account-section .account-inner-section .row .login .login-inner label {
  font-family: "Cormorant", serif;
  font-size: 17px;
}

.account-section .account-inner-section .row .login .login-inner input {
  padding: 12px 10px;
  outline: none;
  border: 1px solid lightgrey;
}

.account-section .account-inner-section .row .login .login-inner p {
  font-family: "Cormorant", serif;
  font-size: 17px;
}

.account-section .account-inner-section .row .login .login-inner button {
  padding: 10px 35px;
  background: #000;
  color: white;
  letter-spacing: 2px;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  margin-bottom: 10px;
}

.account-section .account-inner-section .row .register h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.account-section .account-inner-section .row .register .register-inner {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 20px 20px;
  margin-top: 20px;
}

.account-section .account-inner-section .row .register .register-inner label {
  font-family: "Cormorant", serif;
  font-size: 17px;
}

.account-section .account-inner-section .row .register .register-inner input {
  padding: 12px 10px;
  outline: none;
  border: 1px solid lightgrey;
}

.account-section .account-inner-section .row .register .register-inner p {
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 30px;
  margin-top: 20px;
}

.account-section .account-inner-section .row .register .register-inner p span {
  color: #269fb7;
}

.account-section .account-inner-section .row .register .register-inner button {
  padding: 10px 35px;
  background: #000;
  color: white;
  letter-spacing: 2px;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  margin-bottom: 10px;
}

.footer-section {
  margin-top: 150px;
  padding: 50px 0;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=myaccount.css.map */