* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font family
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");

//fonts
$font-montserrat: "Montserrat", sans-serif;
$font-cormorant: "Cormorant", serif;
$font-allura: "Allura", cursive;

// header-section styles starts here
.header-section {
  height: 130px;
  .header-logo {
    text-align: center;
    padding-top: 20px;
  }

  .header-nav {
    .header-navlist {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      ul {
        font-family: $font-cormorant;
        li {
          a {
            font-size: 19px;
            color: #b8b8b8;
          }
        }
      }
    }

    .header-btn {
      a {
        text-decoration: none;
        color: black;
        .cart-btn{
          height:32px;
          width:30px;
          background: transparent;
          border:2px solid black;
          position: relative;
          font-size:14px;
          &::before{
            content:'';
            position:absolute;
            top:-9px;
            left:29%;
            height: 14px;
            width:12px;
            background: transparent;
            border:2px solid black;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            border-bottom:none;
          }
        }
      }
      .bar {
        display: none;
      }
    }
  }
}

// header section media queries starts here
@media (max-width: 768px) {
  .header-section {
    .header-nav {
      .header-navlist {
        display: none;
      }
      .header-btn {
        .bar {
          display: block;
        }
      }
    }
  }
}
// header media queries ends here
// header section styles ends here

// Account section styles starts here
.account-section {
  margin-top: 100px;
  .account-inner-section {
    width: 85%;
    h1 {
      font-family: $font-montserrat;
      font-size: 30px;
    }

    .row {
      // Login section styles starts here
      .login {
        h1 {
          font-size: 30px;
          font-family: $font-montserrat;
          font-weight: bold;
        }
        .login-inner {
          border: 1px solid lightgrey;
          border-radius: 4px;
          padding: 20px 20px;
          margin-top: 20px;
          label {
            font-family: $font-cormorant;
            font-size: 17px;
          }

          input {
            padding: 12px 10px;
            outline: none;
            border: 1px solid lightgrey;
          }

          p {
            font-family: $font-cormorant;
            font-size: 17px;
          }

          button {
            padding: 10px 35px;
            background: #000;
            color: white;
            letter-spacing: 2px;
            font-size: 19px;
            font-family: $font-montserrat;
            outline: none;
            border: none;
            margin-bottom: 10px;
          }
        }
      }
      //   Login section ends here

      // Register section styles starts here
      .register {
        h1 {
          font-size: 30px;
          font-family: $font-montserrat;
          font-weight: bold;
        }
        .register-inner {
          border: 1px solid lightgrey;
          border-radius: 4px;
          padding: 20px 20px;
          margin-top: 20px;
          label {
            font-family: $font-cormorant;
            font-size: 17px;
          }

          input {
            padding: 12px 10px;
            outline: none;
            border: 1px solid lightgrey;
          }

          p {
            font-family: $font-cormorant;
            font-size: 19px;
            line-height: 30px;
            margin-top: 20px;
            span {
              color: #269fb7;
            }
          }

          button {
            padding: 10px 35px;
            background: #000;
            color: white;
            letter-spacing: 2px;
            font-size: 19px;
            font-family: $font-montserrat;
            outline: none;
            border: none;
            margin-bottom: 10px;
          }
        }
      }
      //   Register section styles ends here
    }
  }
}
// account section ends here

// Footer section starts here
.footer-section {
    margin-top:150px;
  padding: 50px 0;
  background: #000;
  .footer-inner-section {
    width: 85%;
    margin: auto;
    .row {
      .col-md-4 {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px !important;
          padding-bottom: 20px;
          text-align: left;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-family: $font-cormorant;
          font-size: 19px;
          line-height: 40px;
        }
      }

      .right {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px;
        }
        ul li {
          font-family: $font-cormorant;
          font-size: 19px;
          margin: 15px 0;
        }
      }
    }
  }
}
// Footer section styles ends here

// foorer social icons styles starts here
.footer-socialicons {
  font-family: $font-cormorant;
  .col-md-6 {
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
}
// Footer social icons styles ends here
