* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font family
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");

//fonts
$font-montserrat: "Montserrat", sans-serif;
$font-cormorant: "Cormorant", serif;
$font-allura: "Allura", cursive;

// header-section styles starts here
.header-section {
  height: 130px;
  .header-logo {
    text-align: center;
    padding-top: 20px;
  }

  .header-nav {
    .header-navlist {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      ul {
        font-family: $font-cormorant;
        li {
          a {
            font-size: 19px;
            color: #b8b8b8;
          }
        }
      }
    }

    .header-btn {
      a {
        text-decoration: none;
        color: black;
        .cart-btn{
          height:32px;
          width:30px;
          background: transparent;
          border:2px solid black;
          position: relative;
          font-size:14px;
          &::before{
            content:'';
            position:absolute;
            top:-9px;
            left:29%;
            height: 14px;
            width:12px;
            background: transparent;
            border:2px solid black;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            border-bottom:none;
          }
        }
      }
      .bar {
        display: none;
      }
    }
  }
}

// header section media queries starts here
@media (max-width: 768px) {
  .header-section {
    .header-nav {
      .header-navlist {
        display: none;
      }
      .header-btn {
        .bar {
          display: block;
        }
      }
    }
  }
}
// header section media queries ends here
// ** header section ends here **

.proc-checkout-section {
  margin-top: 100px;
  .proc-inner-section {
    width: 90%;
    h1 {
      font-family: $font-montserrat;
      font-size: 30px;
    }
    p {
      font-family: $font-cormorant;
      font-size: 19px;
      padding: 20px 0;
    }

    .proc-text {
      margin: 0 20px;
      .one {
        border-right: 1px solid lightgrey;

        p {
          font-size: 13px;
          font-family: $font-cormorant;
          color: #737373;
          text-transform: uppercase;
        }
      }
      .text {
        border-right: 1px solid lightgrey;

        p {
          font-size: 13px;
          font-family: $font-cormorant;
          color: #737373;
          text-transform: uppercase;
        }

        small {
          font-size: 19px;
          font-family: $font-cormorant;
        }
      }
    }

    h6 {
      font-family: $font-cormorant;
      font-size: 19px;
    }

    .order-details {
      .row {
        font-family: $font-cormorant;
        font-size: 19px;
        line-height: 0;
        margin: 0;
        padding: 0;
        .col {
          display: flex;
          align-items: center;
          h1 {
            padding-top: 20px;
            padding-bottom: 5px;
            font-family: $font-montserrat;
            font-size: 24px;
          }

          p {
            margin-top: 15px;
          }

          padding: 0 20px;
          line-height: 0;
          margin: 0;
          border: 1px solid lightgrey;
        }

        h6 {
          padding-top: 10px;
          text-align: left;
        }
      }
    }
  }
}
// order details styles ends here

// Billing address section styles starts here
.billing-add-section {
  margin-top: 50px;
  .billing-inner-section {
    width: 90%;
    border: 1px solid lightgrey;
    .row {
      .col {
        h1 {
          font-family: $font-montserrat;
          font-size: 24px;
          padding: 20px 20px;
          border-bottom: 1px solid lightgrey;
        }

        p {
          padding: 5px 20px;
          font-family: $font-cormorant;
          font-style: 19px;
        }
      }
    }
  }
}
// billing address section ends here

// Footer section styles starts here
.footer-section {
  padding: 50px 0;
  margin-top: 100px;
  background: #000;
  .footer-inner-section {
    width: 85%;
    margin: auto;
    .row {
      .col-md-4 {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px !important;
          padding-bottom: 20px;
          text-align: left;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-family: $font-cormorant;
          font-size: 19px;
          line-height: 40px;
        }
      }

      .right {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px;
        }
        ul li {
          font-family: $font-cormorant;
          font-size: 19px;
          margin: 15px 0;
        }
      }
    }
  }
}

// foorer social icons styles starts here
.footer-socialicons {
  font-family: $font-cormorant;
  .col-md-6 {
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
}
// Footer social icons styles ends here
// footer section styles ends here
