@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section {
  height: 130px;
}

.header-section .header-logo {
  text-align: center;
  padding-top: 20px;
}

.header-section .header-nav .header-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.header-section .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.header-section .header-nav .header-navlist ul li a {
  font-size: 19px;
  color: #b8b8b8;
}

.header-section .header-nav .header-btn a {
  text-decoration: none;
  color: black;
}

.header-section .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid black;
  position: relative;
  font-size: 14px;
}

.header-section .header-nav .header-btn a .cart-btn::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.header-section .header-nav .header-btn .bar {
  display: none;
}

@media (max-width: 768px) {
  .header-section .header-nav .header-navlist {
    display: none;
  }
  .header-section .header-nav .header-btn .bar {
    display: block;
  }
}

.proc-checkout-section {
  margin-top: 100px;
}

.proc-checkout-section .proc-inner-section {
  width: 90%;
}

.proc-checkout-section .proc-inner-section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.proc-checkout-section .proc-inner-section p {
  font-family: "Cormorant", serif;
  font-size: 19px;
  padding: 20px 0;
}

.proc-checkout-section .proc-inner-section .proc-text {
  margin: 0 20px;
}

.proc-checkout-section .proc-inner-section .proc-text .one {
  border-right: 1px solid lightgrey;
}

.proc-checkout-section .proc-inner-section .proc-text .one p {
  font-size: 13px;
  font-family: "Cormorant", serif;
  color: #737373;
  text-transform: uppercase;
}

.proc-checkout-section .proc-inner-section .proc-text .text {
  border-right: 1px solid lightgrey;
}

.proc-checkout-section .proc-inner-section .proc-text .text p {
  font-size: 13px;
  font-family: "Cormorant", serif;
  color: #737373;
  text-transform: uppercase;
}

.proc-checkout-section .proc-inner-section .proc-text .text small {
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.proc-checkout-section .proc-inner-section h6 {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.proc-checkout-section .proc-inner-section .order-details .row {
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.proc-checkout-section .proc-inner-section .order-details .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  line-height: 0;
  margin: 0;
  border: 1px solid lightgrey;
}

.proc-checkout-section .proc-inner-section .order-details .row .col h1 {
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.proc-checkout-section .proc-inner-section .order-details .row .col p {
  margin-top: 15px;
}

.proc-checkout-section .proc-inner-section .order-details .row h6 {
  padding-top: 10px;
  text-align: left;
}

.billing-add-section {
  margin-top: 50px;
}

.billing-add-section .billing-inner-section {
  width: 90%;
  border: 1px solid lightgrey;
}

.billing-add-section .billing-inner-section .row .col h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  padding: 20px 20px;
  border-bottom: 1px solid lightgrey;
}

.billing-add-section .billing-inner-section .row .col p {
  padding: 5px 20px;
  font-family: "Cormorant", serif;
  font-style: 19px;
}

.footer-section {
  padding: 50px 0;
  margin-top: 100px;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=proceedCheckout.css.map */