@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section {
  height: 130px;
}

.header-section .header-logo {
  text-align: center;
  padding-top: 20px;
}

.header-section .header-nav .header-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.header-section .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.header-section .header-nav .header-navlist ul li a {
  font-size: 19px;
  color: #b8b8b8;
}

.header-section .header-nav .header-btn a {
  color: black;
  text-decoration: none;
}

.header-section .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid black;
  position: relative;
  font-size: 14px;
}

.header-section .header-nav .header-btn a .cart-btn::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.header-section .header-nav .header-btn .bar {
  display: none;
}

@media (max-width: 768px) {
  .header-section .header-nav .header-navlist {
    display: none;
  }
  .header-section .header-nav .header-btn .bar {
    display: block;
  }
}

.product-section {
  margin-top: 200px;
  padding: 20px 0;
}

.product-section .product-inner-section {
  max-width: 100%;
  width: 70%;
}

.product-section .product-inner-section .main-product .product-img img {
  width: 100%;
  height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-section .product-inner-section .main-product .product-text p {
  font-family: "Cormorant", serif;
  font-size: 17px;
  color: #777777;
}

.product-section .product-inner-section .main-product .product-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.product-section .product-inner-section .main-product .product-text h5 {
  margin-top: 20px;
  font-family: "Cormorant", serif;
  font-size: 28px;
  color: #7e7e7e;
}

.product-section .product-inner-section .main-product .product-text h4 {
  margin-top: 20px;
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
  font-weight: lighter;
  line-height: 30px;
}

.product-section .product-inner-section .main-product .product-text button {
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  padding: 10px 5px;
  width: 250px;
  outline: none;
  border: none;
  background: #000;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}

.product-section .product-inner-section .main-product .product-text h6 {
  margin-top: 20px;
  font-family: "Cormorant", serif;
  font-size: 17px;
  color: #7e7e7e;
}

@media (max-width: 576px) {
  .product-section {
    margin-top: 0;
  }
  .product-section .product-inner-section {
    width: 90%;
  }
}

.product-description-section {
  padding-top: 20px;
  padding-bottom: 100px;
}

.product-description-section .product-description-inner {
  max-width: 100%;
  width: 70%;
}

.product-description-section .product-description-inner .nav-tabs {
  border-bottom: none !important;
}

.product-description-section .product-description-inner .nav-tabs button {
  padding: 0;
  margin-right: 20px;
  color: #7e7e7e;
  font-size: 19px;
  font-weight: bold;
  font-family: "Cormorant", serif;
  border: none !important;
}

.product-description-section .product-description-inner .nav-tabs .active {
  color: black !important;
}

.product-description-section .product-description-inner .product-heading ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
}

.product-description-section .product-description-inner p {
  font-size: 19px;
  font-family: "Cormorant", serif;
  color: #7e7e7e;
}

.tab-pane p {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
  margin-top: 25px;
}

.review-sec h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  margin-top: 20px;
  text-transform: uppercase;
}

.review-sec p {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
}

.review-sec .review-text {
  margin-top: 50px;
  border: 1px solid lightgrey;
  padding: 40px 40px;
}

.review-sec .review-text h3 {
  font-family: "Cormorant", serif;
  font-size: 28px;
  text-transform: capitalize;
}

.review-sec .review-text small {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
  padding: 20px 0 !important;
  margin: 20px 0 !important;
}

.review-sec .review-text label {
  font-family: "Cormorant", serif;
  font-size: 19px;
}

.review-sec .review-text textarea {
  padding: 5px 5px;
  outline: none;
  border: 1px solid lightgrey;
}

.review-sec .review-text input {
  padding: 12px 5px;
  outline: none;
  border: 1px solid lightgrey;
}

.review-sec .review-text button {
  padding: 10px 35px;
  background: #000;
  color: white;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .product-description-section {
    padding-bottom: 0px;
  }
  .product-description-section .product-description-inner {
    padding: 0;
    width: 95%;
  }
}

.footer-section {
  padding: 30px 0;
  margin-top: 100px;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=product.css.map */