* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font family
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");

//fonts
$font-montserrat: "Montserrat", sans-serif;
$font-cormorant: "Cormorant", serif;
$font-allura: "Allura", cursive;

// header-section styles starts here
.header-section {
  height: 130px;
  .header-logo {
    text-align: center;
    padding-top: 20px;
  }

  .header-nav {
    .header-navlist {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      ul {
        font-family: $font-cormorant;
        li {
          a {
            font-size: 19px;
            color: #b8b8b8;
          }
        }
      }
    }

    .header-btn {
      a {
        color: black;
        text-decoration: none;
        .cart-btn{
          height:32px;
          width:30px;
          background: transparent;
          border:2px solid black;
          position: relative;
          font-size:14px;
          &::before{
            content:'';
            position:absolute;
            top:-9px;
            left:29%;
            height: 14px;
            width:12px;
            background: transparent;
            border:2px solid black;
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            border-bottom:none;
          }
        }
      }
      .bar {
        display: none;
      }
    }
  }
}

// header section media queries starts here
@media (max-width: 768px) {
  .header-section {
    .header-nav {
      .header-navlist {
        display: none;
      }
      .header-btn {
        .bar {
          display: block;
        }
      }
    }
  }
}
// header section media queries ends here
// ** header section styles ends here **

// Product section styless starts here
.product-section {
  margin-top: 200px;
  padding: 20px 0;
  .product-inner-section {
    max-width: 100%;
    width: 70%;
    .main-product {
      // product image styles
      .product-img {
        img {
          width: 100%;
          height: 450px;
          object-fit: contain;
        }
      }
      // product image styles ends here

      // product text starts here
      .product-text {
        p {
          font-family: $font-cormorant;
          font-size: 17px;
          color: #777777;
        }
        h1 {
          font-family: $font-montserrat;
          font-size: 30px;
        }

        h5 {
          margin-top: 20px;
          font-family: $font-cormorant;
          font-size: 28px;
          color: #7e7e7e;
        }

        h4 {
          margin-top: 20px;
          font-family: $font-cormorant;
          font-size: 19px;
          color: #7e7e7e;
          font-weight: lighter;
          line-height: 30px;
        }

        button {
          margin: 20px 0;
          font-family: $font-montserrat;
          font-size: 19px;
          padding: 10px 5px;
          width: 250px;
          outline: none;
          border: none;
          background: #000;
          color: white;
          letter-spacing: 2px;
          font-weight: bold;
        }

        h6 {
          margin-top: 20px;
          font-family: $font-cormorant;
          font-size: 17px;
          color: #7e7e7e;
        }
      }
      // product text styles ends here
    }
  }
}

// product media queries starts here
@media (max-width: 576px) {
  .product-section {
    margin-top: 0;
    .product-inner-section {
      width: 90%;
    }
  }
}
// product media queries ends here
// Product section styles ends here

// Product description section styles starts here
.product-description-section {
  padding-top: 20px;
  padding-bottom: 100px;
  .product-description-inner {
    max-width: 100%;
    width: 70%;
    .nav-tabs {
      border-bottom: none !important;
      button {
        padding: 0;
        margin-right: 20px;
        color: #7e7e7e;
        font-size: 19px;
        font-weight: bold;
        font-family: $font-cormorant;
        border: none !important;
      }

      .active {
        color: black !important;
      }
    }
    .product-heading {
      ul {
        li {
          font-family: $font-cormorant;
          font-size: 19px;
          color: #7e7e7e;
        }
      }
    }
    p {
      font-size: 19px;
      font-family: $font-cormorant;
      color: #7e7e7e;
    }
  }
}

.tab-pane {
  p {
    font-family: $font-cormorant;
    font-size: 19px;
    color: #7e7e7e;
    margin-top: 25px;
  }
}

.review-sec {
  h1 {
    font-family: $font-montserrat;
    font-size: 28px;
    margin-top: 20px;
    text-transform: uppercase;
  }

  p {
    font-family: $font-cormorant;
    font-size: 19px;
    color: #7e7e7e;
  }

  .review-text {
    margin-top: 50px;
    border: 1px solid lightgrey;
    padding: 40px 40px;

    h3 {
      font-family: $font-cormorant;
      font-size: 28px;
      text-transform: capitalize;
    }

    small {
      font-family: $font-cormorant;
      font-size: 19px;
      color: #7e7e7e;
      padding: 20px 0 !important;
      margin: 20px 0 !important;
    }

    label {
      font-family: $font-cormorant;
      font-size: 19px;
    }

    textarea {
      padding: 5px 5px;
      outline: none;
      border: 1px solid lightgrey;
    }

    input {
      padding: 12px 5px;
      outline: none;
      border: 1px solid lightgrey;
    }

    button {
      padding: 10px 35px;
      background: #000;
      color: white;
      border: none;
      outline: none;
      font-family: $font-montserrat;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }
}

// Product description media queries starts here
@media (max-width: 576px) {
  .product-description-section {
    padding-bottom: 0px;
    .product-description-inner {
      padding: 0;
      width: 95%;
    }
  }
}
// Product description media queries ends here
// Product description styles ends here

// Footer section styles starts here
.footer-section {
  padding: 30px 0;
  margin-top: 100px;
  background: #000;
  .footer-inner-section {
    width: 85%;
    margin: auto;
    .row {
      .col-md-4 {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px !important;
          padding-bottom: 20px;
          text-align: left;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-family: $font-cormorant;
          font-size: 19px;
          line-height: 40px;
        }
      }

      .right {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px;
        }
        ul li {
          font-family: $font-cormorant;
          font-size: 19px;
          margin: 15px 0;
        }
      }
    }
  }
}

// foorer social icons styles starts here
.footer-socialicons {
  font-family: $font-cormorant;
  .col-md-6 {
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
}
// Footer social icons styles ends here
// footer section styles ends here
