* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font family
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");

//fonts
$font-montserrat: "Montserrat", sans-serif;
$font-cormorant: "Cormorant", serif;
$font-allura: "Allura", cursive;

// header-section styles starts here
.header-section {
  height: 130px;
  .header-logo {
    text-align: center;
    padding-top: 20px;
  }

  .header-nav {
    .header-navlist {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      ul {
        font-family: $font-cormorant;
        li {
          a {
            font-size: 19px;
            color: #b8b8b8;
          }
        }
      }
    }

    .header-btn {
      a {
        color: black;
        text-decoration: none;
        .cart-btn {
          height: 32px;
          width: 30px;
          background: transparent;
          border: 2px solid black;
          position: relative;
          font-size: 14px;
          &::before {
            content: "";
            position: absolute;
            top: -9px;
            left: 29%;
            height: 14px;
            width: 12px;
            background: transparent;
            border: 2px solid black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom: none;
          }
        }
      }
      .bar {
        display: none;
      }
    }
  }
}

// header section media queries starts here
@media (max-width: 768px) {
  .header-section {
    .header-nav {
      .header-navlist {
        display: none;
      }
      .header-btn {
        .bar {
          display: block;
        }
      }
    }
  }
}
// header section media queries ends here
// ** header section ends here **

// products section styles starts here
.product-section {
  height: 100%;
  .product-inner-section {
    width: 70%;
    .product-details {
      padding-top: 200px;
      p {
        font-family: $font-cormorant;
        color: #777777;
        font-size: 17px;
      }

      h1 {
        font-family: $font-montserrat;
        font-size: 30px;
        color: #b8b8b8;
      }
      .title {
        margin-top: 20px;
        h6 {
          font-family: $font-cormorant;
          font-size: 19px;
          color: #7e7e7e;
        }
      }
    }
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    padding: 7px 0;
    font-family: $font-cormorant;
    color: #7e7e7e;
    border: 1px solid lightgray;
    outline: none;
    cursor:pointer;
  }
  // product cards styles starts here
  .product-cards {
    .product-card {
      width: 220px;
      height: auto;
      margin-bottom: 40px;
      img {
        width: 220px;
        height: 220px;
        object-fit: contain;
        cursor: pointer;
      }
      small {
        margin: 10px 0;
        color: #7e7e7e;
        font-size: 16px;
        font-family: $font-cormorant;
      }
      h1 {
        font-size: 19px;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font-montserrat;
        cursor: pointer;
      }

      ul {
        margin: 7px 0 !important;
        color: #b8b8b8;
      }
      p {
        font-size: 16px;
      }
    }
  }
  // product cards ends here
}
// product section styles ends here

// Footer section styles starts here
.footer-section {
  padding: 50px 0;
  margin-top: 180px;
  background: #000;
  .footer-inner-section {
    width: 85%;
    margin: auto;
    .row {
      .col-md-4 {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px !important;
          padding-bottom: 20px;
          text-align: left;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-family: $font-cormorant;
          font-size: 19px;
          line-height: 40px;
        }
      }

      .right {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px;
        }
        ul li {
          font-family: $font-cormorant;
          font-size: 19px;
          margin: 15px 0;
        }
      }
    }
  }
}

// foorer social icons styles starts here
.footer-socialicons {
  font-family: $font-cormorant;
  .col-md-6 {
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
}
// Footer social icons styles ends here

// footer section styles ends here
