@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-section {
  height: 130px;
}

.header-section .header-logo {
  text-align: center;
  padding-top: 20px;
}

.header-section .header-nav .header-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.header-section .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.header-section .header-nav .header-navlist ul li a {
  font-size: 19px;
  color: #b8b8b8;
}

.header-section .header-nav .header-btn a {
  color: black;
  text-decoration: none;
}

.header-section .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid black;
  position: relative;
  font-size: 14px;
}

.header-section .header-nav .header-btn a .cart-btn::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.header-section .header-nav .header-btn .bar {
  display: none;
}

@media (max-width: 768px) {
  .header-section .header-nav .header-navlist {
    display: none;
  }
  .header-section .header-nav .header-btn .bar {
    display: block;
  }
}

.product-section {
  height: 100%;
}

.product-section .product-inner-section {
  width: 70%;
}

.product-section .product-inner-section .product-details {
  padding-top: 200px;
}

.product-section .product-inner-section .product-details p {
  font-family: "Cormorant", serif;
  color: #777777;
  font-size: 17px;
}

.product-section .product-inner-section .product-details h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #b8b8b8;
}

.product-section .product-inner-section .product-details .title {
  margin-top: 20px;
}

.product-section .product-inner-section .product-details .title h6 {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
}

.product-section button,
.product-section input,
.product-section optgroup,
.product-section select,
.product-section textarea {
  padding: 7px 0;
  font-family: "Cormorant", serif;
  color: #7e7e7e;
  border: 1px solid lightgray;
  outline: none;
  cursor: pointer;
}

.product-section .product-cards .product-card {
  width: 220px;
  height: auto;
  margin-bottom: 40px;
}

.product-section .product-cards .product-card img {
  width: 220px;
  height: 220px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.product-section .product-cards .product-card small {
  margin: 10px 0;
  color: #7e7e7e;
  font-size: 16px;
  font-family: "Cormorant", serif;
}

.product-section .product-cards .product-card h1 {
  font-size: 19px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.product-section .product-cards .product-card ul {
  margin: 7px 0 !important;
  color: #b8b8b8;
}

.product-section .product-cards .product-card p {
  font-size: 16px;
}

.footer-section {
  padding: 50px 0;
  margin-top: 180px;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=shop.css.map */