* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font family
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");

//fonts
$font-montserrat: "Montserrat", sans-serif;
$font-cormorant: "Cormorant", serif;
$font-allura: "Allura", cursive;

// bg section styles starts here
.bg-section {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-01-free-img.jpg");
  background-attachment: fixed;
  background-position: center;
  // object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  .bg-inner-section {
    width: 85%;

    // header section styles starts here
    .header {
      height: 130px;
      .header-nav {
        .header-navlist {
          ul {
            font-family: $font-cormorant;
            li {
              a {
                font-size: 20px;
              }
            }
          }
        }

        .header-btn {
          a {
            color: white;
            text-decoration: none;
            .cart-btn {
              height: 32px;
              width: 30px;
              background: transparent;
              border: 2px solid white;
              position: relative;
              font-size: 14px;
              &::before {
                content: "";
                position: absolute;
                top: -9px;
                left: 29%;
                height: 14px;
                width: 12px;
                background: transparent;
                border: 2px solid white;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom: none;
              }
            }
          }
          .bar {
            display: none;
          }
        }
      }
    }
    // header section styles ends here

    // content section stlyes starts here
    .content-section {
      width: 100%;
      height: 600px;
      .content-inner-section {
        width: 100%;
        text-transform: capitalize;
        h4 {
          font-size: 16px;
          font-family: $font-montserrat;
        }
        h1 {
          margin-top: 40px;
          text-transform: uppercase;
          font-size: 90px;
          font-weight: bold;
          font-family: $font-montserrat;
        }
        p {
          margin: 20px 0;
          font-size: 19px;
          font-family: $font-cormorant;
        }
        button {
          font-family: $font-montserrat;
          margin-top: 20px;
          padding: 10px 10px;
          width: 180px;
          outline: none;
          border: 2px solid white;
          cursor: pointer;
          font-size: 15px;
          text-transform: uppercase;
          letter-spacing: 2px;
          background: transparent;
          color: white;
          transition: all 0.4s ease;

          &:hover {
            background: white;
            color: black;
          }
        }
      }
    }
    // content section styles ends here
  }
}

// Bg main section media queries
// header media queries
@media (max-width: 768px) {
  .header-nav {
    .header-navlist {
      display: none;
    }

    .header-btn {
      .bar {
        display: block !important;
      }
    }
  }
}

// content section media queries
@media (max-width: 768px) {
  .content-section {
    .content-inner-section {
      h4 {
        font-size: 14px !important;
      }
      h1 {
        font-size: 50px !important;
      }
    }
  }
}

@media (max-width: 568px) {
  .content-section {
    .content-inner-section {
      h4 {
        font-size: 12px !important;
      }
      h1 {
        font-size: 30px !important;
      }
    }
  }
}

@media (max-width: 325px) {
  .content-section {
    .content-inner-section {
      padding-top: 50px;
      height: 100% !important;
    }
  }
}
// Bg main section media queries ends here
// Bg Main section styles ends here

// flavour section styles starts here
.flavour-section {
  .flovour-inner-section {
    width: 85%;

    // favour text styles starts here
    .row {
      .col {
        h4 {
          font-size: 30px;
          text-transform: capitalize;
          font-family: $font-allura;
          color: #b8b8b8;
        }
        h1 {
          font-size: 40px;
          font-family: $font-montserrat;
          font-weight: bold;
        }
        p {
          font-size: 19px;
          text-transform: capitalize;
          font-family: $font-cormorant;
          color: #7e7e7e;
        }
      }
    }
    // favour text styles ends here

    // favour cards styles starts here
    .flavour-cards {
      height: 100%;
      .flavour-card {
        margin-bottom: 40px;
        img {
          width: 260px;
          height: 260px;
          object-fit: contain;
          cursor: pointer;
        }
        small {
          margin: 10px 0;
          color: #7e7e7e;
          font-size: 16px;
          font-family: $font-cormorant;
        }
        h1 {
          font-size: 19px;
          margin: 0;
          text-transform: uppercase;
          font-weight: bold;
          font-family: $font-montserrat;
          cursor: pointer;
        }

        ul {
          margin: 7px 0 !important;
          color: #b8b8b8;
        }
        p {
          font-size: 16px;
        }
      }
    }
    // flavour cards styles ends here
  }
}

// flavour section styles ends here

// Image section styles starts here
.image-section {
  .image-inner-section {
    width: 85%;
    padding-top: 150px;
    padding-bottom: 150px;
    .row {
      .col {
        img {
          width: 550px;
          height: 500px;
          object-fit: cover;
        }
      }

      // Image text styles starts here
      .text-data {
        text-align: center;
        width: 100%;
        p {
          color: #b8b8b8;
          font-family: $font-allura;
          font-size: 30px;
        }
        h1 {
          padding: 10px 0;
          font-family: $font-montserrat;
          font-size: 40px;
          text-transform: capitalize;
          font-weight: bold;
        }

        h5 {
          font-family: $font-cormorant;
          font-size: 19px;
          color: #7e7e7e;
          line-height: 40px;
        }
        button {
          width: 150px;
          margin-top: 40px;
          padding: 10px 5px;
          outline: none;
          border: 1px solid black;
          cursor: pointer;
          color: black;
          font-family: $font-montserrat;
          position: relative;
          overflow: hidden;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 2px;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -150px;
            height: 100%;
            width: 100%;
            background: #000;
            color: white;
            z-index: -1;
            transition: all 0.4s ease-in-out;
          }

          &:hover {
            color: white;
          }

          &:hover::before {
            left: 0;
            color: white;
          }
        }
      }
      // Image text styles ends here
    }
  }
}
// Image section styles ends here

// Image cards section styles starts here
.image-cards-section {
  .image-cards-inner {
    width: 85%;
    padding-top: 20px;
    padding-bottom: 100px;
    .row {
      .col-md-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .fas {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #7e7e7e;
          i {
            font-size: 20px;
            color: #7e7e7e;
          }
        }
        h2 {
          margin: 25px 0;
          font-size: 20px;
          font-family: $font-montserrat;
          text-transform: uppercase;
          font-weight: bold;
        }
        p {
          line-height: 30px;
          font-family: $font-cormorant;
          font-size: 19px;
          color: #7e7e7e;
        }
      }
    }
  }
}
// Image cards section styles ends here

// Image logo section styles starts here
.image-logo-section {
  .image-logo-inner {
    width: 85%;
    padding: 30px 0;
    padding-bottom: 70px;
    .logo-cards {
      width: 100%;
    }
  }
}
// Image Logo section styles ends here

// Client section styles starts here
.client-section {
  height: 100vh;
  width: 100%;
  background-image: url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-03-free-img.png");
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;

  .client-inner-section {
    width: 85%;
    height: 100%;
    .client-inner-text {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        font-family: $font-allura;
        font-size: 30px;
        font-weight: lighter;
      }

      h1 {
        font-family: $font-montserrat;
        font-size: 40px;
      }

      h5 {
        font-family: $font-cormorant;
        font-size: 24px;
        color: #7e7e7e;
        line-height: 40px;
      }

      .client-img {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          font-size: 19px;
          margin-top: 20px;
          font-family: $font-cormorant;
          color: #7e7e7e;
        }
      }
    }
  }
}
// Client section styles ends here

// Products section styles starts here
.products-section {
  padding: 100px 0;
  .products-inner-section {
    width: 85%;

    // product title styles starts here
    .row {
      .col {
        p {
          font-family: $font-allura;
          font-size: 30px;
          color: #b8b8b8;
        }
        h1 {
          margin: 20px 0;
          font-family: $font-montserrat;
          font-size: 40px;
          font-weight: bold;
          text-transform: uppercase;
        }

        h6 {
          font-family: $font-cormorant;
          color: #7e7e7e;
          font-size: 19px;
        }
      }
    }
    // Product title styles ends here

    // Products cards section styles start here
    .product-cards {
      padding-bottom: 40px;
      .products-card {
        margin-bottom: 40px;
        img {
          width: 260px;
          height: 260px;
          object-fit: contain;
          cursor: pointer;
        }
        small {
          margin: 10px 0;
          color: #7e7e7e;
          font-size: 16px;
          font-family: $font-cormorant;
        }
        h1 {
          font-size: 19px;
          margin: 0;
          text-transform: uppercase;
          font-weight: bold;
          font-family: $font-montserrat;
          cursor: pointer;
        }

        ul {
          margin: 7px 0 !important;
          color: #b8b8b8;
        }
        p {
          font-size: 16px;
        }
      }
    }
    // ** product cards section styles ends here
  }
}
// ** Product section ends here

// Form section styles starts here
.form-section {
  padding-bottom: 50px;
  object-fit: contain;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(https://developerpra.com/ecom/wp-content/uploads/2020/02/bg-overlay-01-free-img.png);
  .form-inner-section {
    width: 70%;
    margin: auto;
    .row {
      .col-md-6 {
        font-family: $font-montserrat;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .input {
        input {
          text-transform: capitalize;
          padding: 10px 10px !important;
          width: 100%;
          outline: none;
          border: 1px solid lightgray;
          &::placeholder {
            font-size: 19px;
            font-family: $font-cormorant;
          }
        }

        button {
          width: 150px;
          margin-top: 25px;
          padding: 10px 5px;
          outline: none;
          border: 1px solid black;
          cursor: pointer;
          color: black;
          background: none;
          font-family: $font-montserrat;
          position: relative;
          overflow: hidden;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 2px;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -150px;
            height: 100%;
            width: 100%;
            background: #000;
            color: white;
            z-index: -1;
            transition: all 0.4s ease-in-out;
          }

          &:hover {
            color: white;
          }

          &:hover::before {
            left: 0;
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 568px) {
  .form-section {
    .form-inner-section {
      width: 90%;
      margin: auto;
    }
  }
}
// Form section ends here

// Footer section starts here
.footer-section {
  padding: 50px 0;
  background: #000;
  .footer-inner-section {
    width: 85%;
    margin: auto;
    .row {
      .col-md-4 {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px !important;
          padding-bottom: 20px;
          text-align: left;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-family: $font-cormorant;
          font-size: 19px;
          line-height: 40px;
        }
      }

      .right {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px;
        }
        ul li {
          font-family: $font-cormorant;
          font-size: 19px;
          margin: 15px 0;
        }
      }
    }
  }
}

// Footer section styles ends here

// foorer social icons styles starts here
.footer-socialicons {
  font-family: $font-cormorant;
  .col-md-6 {
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
}
// Footer social icons styles ends here
