@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-section {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0))), url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-01-free-img.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-01-free-img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-section .bg-inner-section {
  width: 85%;
}

.bg-section .bg-inner-section .header {
  height: 130px;
}

.bg-section .bg-inner-section .header .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.bg-section .bg-inner-section .header .header-nav .header-navlist ul li a {
  font-size: 20px;
}

.bg-section .bg-inner-section .header .header-nav .header-btn a {
  color: white;
  text-decoration: none;
}

.bg-section .bg-inner-section .header .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid white;
  position: relative;
  font-size: 14px;
}

.bg-section .bg-inner-section .header .header-nav .header-btn a .cart-btn::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.bg-section .bg-inner-section .header .header-nav .header-btn .bar {
  display: none;
}

.bg-section .bg-inner-section .content-section {
  width: 100%;
  height: 600px;
}

.bg-section .bg-inner-section .content-section .content-inner-section {
  width: 100%;
  text-transform: capitalize;
}

.bg-section .bg-inner-section .content-section .content-inner-section h4 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.bg-section .bg-inner-section .content-section .content-inner-section h1 {
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.bg-section .bg-inner-section .content-section .content-inner-section p {
  margin: 20px 0;
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.bg-section .bg-inner-section .content-section .content-inner-section button {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  padding: 10px 10px;
  width: 180px;
  outline: none;
  border: 2px solid white;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.bg-section .bg-inner-section .content-section .content-inner-section button:hover {
  background: white;
  color: black;
}

@media (max-width: 768px) {
  .header-nav .header-navlist {
    display: none;
  }
  .header-nav .header-btn .bar {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .content-section .content-inner-section h4 {
    font-size: 14px !important;
  }
  .content-section .content-inner-section h1 {
    font-size: 50px !important;
  }
}

@media (max-width: 568px) {
  .content-section .content-inner-section h4 {
    font-size: 12px !important;
  }
  .content-section .content-inner-section h1 {
    font-size: 30px !important;
  }
}

@media (max-width: 325px) {
  .content-section .content-inner-section {
    padding-top: 50px;
    height: 100% !important;
  }
}

.flavour-section .flovour-inner-section {
  width: 85%;
}

.flavour-section .flovour-inner-section .row .col h4 {
  font-size: 30px;
  text-transform: capitalize;
  font-family: "Allura", cursive;
  color: #b8b8b8;
}

.flavour-section .flovour-inner-section .row .col h1 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.flavour-section .flovour-inner-section .row .col p {
  font-size: 19px;
  text-transform: capitalize;
  font-family: "Cormorant", serif;
  color: #7e7e7e;
}

.flavour-section .flovour-inner-section .flavour-cards {
  height: 100%;
}

.flavour-section .flovour-inner-section .flavour-cards .flavour-card {
  margin-bottom: 40px;
}

.flavour-section .flovour-inner-section .flavour-cards .flavour-card img {
  width: 260px;
  height: 260px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.flavour-section .flovour-inner-section .flavour-cards .flavour-card small {
  margin: 10px 0;
  color: #7e7e7e;
  font-size: 16px;
  font-family: "Cormorant", serif;
}

.flavour-section .flovour-inner-section .flavour-cards .flavour-card h1 {
  font-size: 19px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.flavour-section .flovour-inner-section .flavour-cards .flavour-card ul {
  margin: 7px 0 !important;
  color: #b8b8b8;
}

.flavour-section .flovour-inner-section .flavour-cards .flavour-card p {
  font-size: 16px;
}

.image-section .image-inner-section {
  width: 85%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.image-section .image-inner-section .row .col img {
  width: 550px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-section .image-inner-section .row .text-data {
  text-align: center;
  width: 100%;
}

.image-section .image-inner-section .row .text-data p {
  color: #b8b8b8;
  font-family: "Allura", cursive;
  font-size: 30px;
}

.image-section .image-inner-section .row .text-data h1 {
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
}

.image-section .image-inner-section .row .text-data h5 {
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
  line-height: 40px;
}

.image-section .image-inner-section .row .text-data button {
  width: 150px;
  margin-top: 40px;
  padding: 10px 5px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  z-index: 1;
}

.image-section .image-inner-section .row .text-data button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 100%;
  background: #000;
  color: white;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.image-section .image-inner-section .row .text-data button:hover {
  color: white;
}

.image-section .image-inner-section .row .text-data button:hover::before {
  left: 0;
  color: white;
}

.image-cards-section .image-cards-inner {
  width: 85%;
  padding-top: 20px;
  padding-bottom: 100px;
}

.image-cards-section .image-cards-inner .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-cards-section .image-cards-inner .row .col-md-4 .fas {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7e7e7e;
}

.image-cards-section .image-cards-inner .row .col-md-4 .fas i {
  font-size: 20px;
  color: #7e7e7e;
}

.image-cards-section .image-cards-inner .row .col-md-4 h2 {
  margin: 25px 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.image-cards-section .image-cards-inner .row .col-md-4 p {
  line-height: 30px;
  font-family: "Cormorant", serif;
  font-size: 19px;
  color: #7e7e7e;
}

.image-logo-section .image-logo-inner {
  width: 85%;
  padding: 30px 0;
  padding-bottom: 70px;
}

.image-logo-section .image-logo-inner .logo-cards {
  width: 100%;
}

.client-section {
  height: 100vh;
  width: 100%;
  background-image: url("https://websitedemos.net/cosmetics-store-02/wp-content/uploads/sites/543/2020/02/bg-03-free-img.png");
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.client-section .client-inner-section {
  width: 85%;
  height: 100%;
}

.client-section .client-inner-section .client-inner-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.client-section .client-inner-section .client-inner-text p {
  font-family: "Allura", cursive;
  font-size: 30px;
  font-weight: lighter;
}

.client-section .client-inner-section .client-inner-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

.client-section .client-inner-section .client-inner-text h5 {
  font-family: "Cormorant", serif;
  font-size: 24px;
  color: #7e7e7e;
  line-height: 40px;
}

.client-section .client-inner-section .client-inner-text .client-img {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.client-section .client-inner-section .client-inner-text .client-img img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.client-section .client-inner-section .client-inner-text .client-img p {
  font-size: 19px;
  margin-top: 20px;
  font-family: "Cormorant", serif;
  color: #7e7e7e;
}

.products-section {
  padding: 100px 0;
}

.products-section .products-inner-section {
  width: 85%;
}

.products-section .products-inner-section .row .col p {
  font-family: "Allura", cursive;
  font-size: 30px;
  color: #b8b8b8;
}

.products-section .products-inner-section .row .col h1 {
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.products-section .products-inner-section .row .col h6 {
  font-family: "Cormorant", serif;
  color: #7e7e7e;
  font-size: 19px;
}

.products-section .products-inner-section .product-cards {
  padding-bottom: 40px;
}

.products-section .products-inner-section .product-cards .products-card {
  margin-bottom: 40px;
}

.products-section .products-inner-section .product-cards .products-card img {
  width: 260px;
  height: 260px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.products-section .products-inner-section .product-cards .products-card small {
  margin: 10px 0;
  color: #7e7e7e;
  font-size: 16px;
  font-family: "Cormorant", serif;
}

.products-section .products-inner-section .product-cards .products-card h1 {
  font-size: 19px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.products-section .products-inner-section .product-cards .products-card ul {
  margin: 7px 0 !important;
  color: #b8b8b8;
}

.products-section .products-inner-section .product-cards .products-card p {
  font-size: 16px;
}

.form-section {
  padding-bottom: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(https://developerpra.com/ecom/wp-content/uploads/2020/02/bg-overlay-01-free-img.png);
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(https://developerpra.com/ecom/wp-content/uploads/2020/02/bg-overlay-01-free-img.png);
}

.form-section .form-inner-section {
  width: 70%;
  margin: auto;
}

.form-section .form-inner-section .row .col-md-6 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-section .form-inner-section .row .input input {
  text-transform: capitalize;
  padding: 10px 10px !important;
  width: 100%;
  outline: none;
  border: 1px solid lightgray;
}

.form-section .form-inner-section .row .input input::-webkit-input-placeholder {
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.form-section .form-inner-section .row .input input:-ms-input-placeholder {
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.form-section .form-inner-section .row .input input::-ms-input-placeholder {
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.form-section .form-inner-section .row .input input::placeholder {
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.form-section .form-inner-section .row .input button {
  width: 150px;
  margin-top: 25px;
  padding: 10px 5px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  background: none;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  z-index: 1;
}

.form-section .form-inner-section .row .input button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 100%;
  background: #000;
  color: white;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.form-section .form-inner-section .row .input button:hover {
  color: white;
}

.form-section .form-inner-section .row .input button:hover::before {
  left: 0;
  color: white;
}

@media (max-width: 568px) {
  .form-section .form-inner-section {
    width: 90%;
    margin: auto;
  }
}

.footer-section {
  padding: 50px 0;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */