@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.testimonial-section {
  height: 400px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 159, 183, 0.7)), to(rgba(38, 159, 183, 0.7))), url("https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-image: linear-gradient(rgba(38, 159, 183, 0.7), rgba(38, 159, 183, 0.7)), url("https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial-section .testimonial-inner-section {
  max-width: 100%;
  width: 85%;
}

.testimonial-section .testimonial-inner-section .header-section {
  height: 130px;
}

.testimonial-section .testimonial-inner-section .header-section .header-logo {
  text-align: center;
  padding-top: 20px;
}

.testimonial-section .testimonial-inner-section .header-section .header-nav .header-navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.testimonial-section .testimonial-inner-section .header-section .header-nav .header-navlist ul {
  font-family: "Cormorant", serif;
}

.testimonial-section .testimonial-inner-section .header-section .header-nav .header-navlist ul li a {
  font-size: 19px;
  color: #b8b8b8;
}

.testimonial-section .testimonial-inner-section .header-section .header-nav .header-btn a {
  color: white;
  text-decoration: none;
}

.testimonial-section .testimonial-inner-section .header-section .header-nav .header-btn a .cart-btn {
  height: 32px;
  width: 30px;
  background: transparent;
  border: 2px solid white;
  position: relative;
  font-size: 14px;
}

.testimonial-section .testimonial-inner-section .header-section .header-nav .header-btn a .cart-btn::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 29%;
  height: 14px;
  width: 12px;
  background: transparent;
  border: 2px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.testimonial-section .testimonial-inner-section .header-section .header-nav .header-btn .bar {
  display: none;
}

.testimonial-section .testimonial-inner-section .testimonial-title {
  height: 250px;
}

.testimonial-section .testimonial-inner-section .testimonial-title h1 {
  margin-top: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
}

@media (max-width: 768px) {
  .testimonial-section .testimonial-inner-section .header-section .header-nav .header-navlist {
    display: none;
  }
  .testimonial-section .testimonial-inner-section .header-section .header-nav .header-btn .bar {
    display: block;
  }
  .testimonial-section .testimonial-inner-section .testimonial-title h1 {
    font-size: 50px;
  }
}

@media (max-width: 568px) {
  .testimonial-section .testimonial-inner-section .testimonial-title h1 {
    font-size: 30px;
  }
}

.testimonial-image {
  height: 100%;
  padding: 50px 0;
}

.testimonial-image .images {
  width: 100%;
  height: 100%;
}

.testimonial-image .images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.testimonial-image .testimonial-image-inner .image-inner {
  width: 60%;
  height: 100%;
}

.testimonial-image .testimonial-image-inner .image-inner .main-img p {
  font-family: "Cormorant", serif;
  font-size: 24px;
}

.testimonial-image .testimonial-image-inner .image-inner .main-img img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

.testimonial-image .testimonial-image-inner .image-inner .main-img .img h3 {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin-left: 10px;
}

@media (max-width: 568px) {
  .testimonial-image .testimonial-image-inner .image-inner {
    width: 90%;
  }
}

.form-section {
  margin-bottom: 50px;
  height: 250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(https://developerpra.com/ecom/wp-content/uploads/2020/02/bg-overlay-01-free-img.png);
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(https://developerpra.com/ecom/wp-content/uploads/2020/02/bg-overlay-01-free-img.png);
}

.form-section .form-inner-section {
  max-width: 100%;
  width: 70%;
  margin: auto;
}

.form-section .form-inner-section .row .col-md-6 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-section .form-inner-section .row .input input {
  text-transform: capitalize;
  padding: 10px 10px !important;
  width: 100%;
  outline: none;
  border: 1px solid gray;
}

.form-section .form-inner-section .row .input input::-webkit-input-placeholder {
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.form-section .form-inner-section .row .input input:-ms-input-placeholder {
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.form-section .form-inner-section .row .input input::-ms-input-placeholder {
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.form-section .form-inner-section .row .input input::placeholder {
  font-size: 19px;
  font-family: "Cormorant", serif;
}

.form-section .form-inner-section .row .input button {
  width: 150px;
  margin-top: 25px;
  padding: 10px 5px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  background: none;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  z-index: 1;
}

.form-section .form-inner-section .row .input button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 100%;
  background: #000;
  color: white;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.form-section .form-inner-section .row .input button:hover {
  color: white;
}

.form-section .form-inner-section .row .input button:hover::before {
  left: 0;
  color: white;
}

@media (max-width: 450px) {
  .form-section .form-inner-section {
    width: 90% !important;
  }
}

.footer-section {
  padding: 50px 0;
  background: #000;
}

.footer-section .footer-inner-section {
  width: 85%;
  margin: auto;
}

.footer-section .footer-inner-section .row .col-md-4 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px !important;
  padding-bottom: 20px;
  text-align: left;
  text-transform: uppercase;
}

.footer-section .footer-inner-section .row .col-md-4 p {
  text-align: left;
  font-family: "Cormorant", serif;
  font-size: 19px;
  line-height: 40px;
}

.footer-section .footer-inner-section .row .right h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
}

.footer-section .footer-inner-section .row .right ul li {
  font-family: "Cormorant", serif;
  font-size: 19px;
  margin: 15px 0;
}

.footer-socialicons {
  font-family: "Cormorant", serif;
}

.footer-socialicons .col-md-6 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=testimonial.css.map */