* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// font family
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cormorant:wght@500&family=Montserrat&display=swap");

//fonts
$font-montserrat: "Montserrat", sans-serif;
$font-cormorant: "Cormorant", serif;
$font-allura: "Allura", cursive;

.testimonial-section {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(rgba(#269fb7, 0.7), rgba(#269fb7, 0.7)),
    url("https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;

  .testimonial-inner-section {
    max-width: 100%;
    width: 85%;
    // header-section styles starts here
    .header-section {
      height: 130px;
      .header-logo {
        text-align: center;
        padding-top: 20px;
      }

      .header-nav {
        .header-navlist {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 40px;
          ul {
            font-family: $font-cormorant;
            li {
              a {
                font-size: 19px;
                color: #b8b8b8;
              }
            }
          }
        }

        .header-btn {
          a {
            color: white;
            text-decoration: none;
            .cart-btn {
              height: 32px;
              width: 30px;
              background: transparent;
              border: 2px solid white;
              position: relative;
              font-size: 14px;
              &::before {
                content: "";
                position: absolute;
                top: -9px;
                left: 29%;
                height: 14px;
                width: 12px;
                background: transparent;
                border: 2px solid white;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                border-bottom: none;
              }
            }
          }
          .bar {
            display: none;
          }
        }
      }
    }

    .testimonial-title {
      height: 250px;

      h1 {
        margin-top: 20px;
        font-weight: bold;
        font-family: $font-montserrat;
        font-size: 90px;
      }
    }
  }
}

// header section media queries starts here
@media (max-width: 768px) {
  .testimonial-section {
    .testimonial-inner-section {
      .header-section {
        .header-nav {
          .header-navlist {
            display: none;
          }
          .header-btn {
            .bar {
              display: block;
            }
          }
        }
      }

      .testimonial-title {
        h1 {
          font-size: 50px;
        }
      }
    }
  }
}

@media (max-width: 568px) {
  .testimonial-section {
    .testimonial-inner-section {
      .testimonial-title {
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}
// header section media queries ends here
// header section ends here

// Testimonial image cards seciton styles starts here
.testimonial-image {
  height: 100%;
  padding: 50px 0;
  .images {
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: grayscale(100%);
    }
  }
  .testimonial-image-inner {
    .image-inner {
      width: 60%;
      height: 100%;
      .main-img {
        p {
          font-family: $font-cormorant;
          font-size: 24px;
        }
        img {
          width: 60px;
          height: 60px;
          object-fit: contain;
          border-radius: 50%;
        }

        .img {
          h3 {
            font-family: $font-cormorant;
            font-size: 19px;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

// media queries
@media (max-width: 568px) {
  .testimonial-image {
    .testimonial-image-inner {
      .image-inner {
        width: 90%;
      }
    }
  }
}

// Testimonial image cards seciton styles ends here

// Form section styles starts here
.form-section {
  margin-bottom: 50px;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  object-fit: contain;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(https://developerpra.com/ecom/wp-content/uploads/2020/02/bg-overlay-01-free-img.png);
  .form-inner-section {
    max-width: 100%;
    width: 70%;
    margin: auto;
    .row {
      .col-md-6 {
        font-family: $font-montserrat;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .input {
        input {
          text-transform: capitalize;
          padding: 10px 10px !important;
          width: 100%;
          outline: none;
          border: 1px solid gray;
          &::placeholder {
            font-size: 19px;
            font-family: $font-cormorant;
          }
        }

        button {
          width: 150px;
          margin-top: 25px;
          padding: 10px 5px;
          outline: none;
          border: 1px solid black;
          cursor: pointer;
          color: black;
          background: none;
          font-family: $font-montserrat;
          position: relative;
          overflow: hidden;
          text-transform: uppercase;
          font-size: 12px;
          letter-spacing: 2px;
          z-index: 1;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -150px;
            height: 100%;
            width: 100%;
            background: #000;
            color: white;
            z-index: -1;
            transition: all 0.4s ease-in-out;
          }

          &:hover {
            color: white;
          }

          &:hover::before {
            left: 0;
            color: white;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .form-section {
    .form-inner-section {
      width: 90% !important;
    }
  }
}
// Form section ends here

// Footer section styles starts here
.footer-section {
  padding: 50px 0;

  background: #000;
  .footer-inner-section {
    width: 85%;
    margin: auto;
    .row {
      .col-md-4 {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px !important;
          padding-bottom: 20px;
          text-align: left;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          font-family: $font-cormorant;
          font-size: 19px;
          line-height: 40px;
        }
      }

      .right {
        h1 {
          font-family: $font-montserrat;
          font-size: 27px;
        }
        ul li {
          font-family: $font-cormorant;
          font-size: 19px;
          margin: 15px 0;
        }
      }
    }
  }
}

// foorer social icons styles starts here
.footer-socialicons {
  font-family: $font-cormorant;
  .col-md-6 {
    font-size: 19px;
    letter-spacing: 1px;
    padding-bottom: 10px;
  }
}
// Footer social icons styles ends here
// footer section styles ends here
